.mi-studies {
  .md-toolbar-tools {
    padding: 0;
    height: 49px;
  }
  .md-card-image {
    height: 170px;
  }
  md-toolbar {
    min-height: 49px;
    //  marging bottom should be 25 , but the card below have default marging top 8
    margin-bottom: 17px;
  }
  .md-nav-item:first-of-type {
    margin-left: 0;
  }
  .md-nav-bar {
    border-width: 0;
  }
  md-card {
    position: relative;
  }
  .study-pending {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 13px;
    font-weight: 500;
    color: $l-theme-Secondary-color;
  }
  .mi-study-edit {
    position: absolute;
    top: 0;
    right: 0;
    .md-button.md-icon-button {
      margin: 0;
    }
  }
}

.mi-bw-filter {
  .md-button.md-accent,
  .md-button.md-default-theme.md-accent {
    color: $d-theme-Primary-color;
  }
  .md-button._md-nav-button.md-unselected,
  .md-button._md-nav-button.md-unselected {
    color: $d-theme-Secondary-color
  }
  .md-default-theme md-nav-ink-bar,
  md-nav-ink-bar {
    color: $d-theme-Primary-color;
    background-color: #fff;
  }
}

.mi-study-search {
  // background-color: darken(#3f51b5, 5);
  .md-input {
    font-size: 14px;
    padding-left: 40px;
    border-color: $d-theme-Secondary-color;
    color: $d-theme-Secondary-color;
    &::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: $d-theme-Secondary-color;
    }
    &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: $d-theme-Secondary-color;
      opacity: 1;
    }
    &::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: $d-theme-Secondary-color;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $d-theme-Secondary-color;
    }
  }
  md-icon {
    left: 40px;
    top: 5px;
  }
  &.md-input-focused {
    md-icon.material-icons {
      color: $d-theme-Primary-color;
    }
    input.md-input {
      border-color: $d-theme-Secondary-color;
    }
  }
}

.studies-logo-input {
  height: 69px;
  md-progress-linear {
    position: absolute;
    bottom: 5px;
  }
  input {
    opacity: 0;
    height: 60px;
    position: relative;
    z-index: 99;
  }
  .mi-v-upload {
    position: absolute;
    width: 100%;
  }
  img {
    height: 100px;
    width: 100px;
  }
}

md-input-container.studies-chips {
  .md-auto-hide .md-input-message-animation {
    margin-top: auto;
    opacity: 1;
  }
  .md-chip-input-container {
    width: 100%;
  }
  md-autocomplete md-autocomplete-wrap md-progress-linear.md-inline {
    bottom: -12px;
    width: 100%;
    left: 0;
  }
}