.mi-side-form {
    md-input-container {
        margin-top: 10px;
    }
    .hint {
        font-size: 11px;
        margin-top: 12px;
    }
}

.md-button.md-fab.md-fab-bottom-right.mi-add-admin {
    z-index: 99;
    position: fixed;
}

//
.md-sidenav-right.md-closed+.mi-add-admin {
    right: 15px;
    animation: onclose 2000ms linear both;
}

.md-sidenav-right+.mi-add-admin {
    animation: onopen 2000ms linear both;
}

.md-sidenav-right.md-closed+.mi-add-admin.is-closed {
    transform: none;
    animation: none;
}

md-sidenav {
    md-chips.md-docs-dark-theme .md-chip-remove-container md-icon {
        background-color: #000;
        border-radius: 50%;
        color: $d-theme-Primary-color;
        margin-top: 4px;
        margin-right: 4px;
    }
    .md-chips.md-removable md-chip {
        padding-right: 30px;
        opacity: 0.7;
    }
    .md-chips .md-chip-input-container,
    .md-chips .md-chip-input-container:not(:first-child) {
        margin: 15px 8px 0 0;
        line-height: 20px;
    }
    .mi-chips-container {
        padding: 0 0 20px 0;
    }
}
