<md-content layout="row" class="mi-admin" layout-align="center">
  <md-card flex-md="80" flex-gt-md="90">
    <md-toolbar class="md-table-toolbar md-default" md-colors="::{background: 'Grey-100'}" ng-hide="options.rowSelection && selected.length">
      <div class="md-toolbar-tools">
        <span>Admins</span>
        <div flex></div>
        <!-- <md-button class="md-icon-button" ng-click="loadStuff()">
          <md-icon>refresh</md-icon>
        </md-button> -->
      </div>
    </md-toolbar>
    <md-table-container>
      <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
        <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
          <tr md-row>
            <th md-column class="mi-th-firstname" md-order-by="firstName"><span>First name</span></th>
            <th md-column class="mi-th-lastname" md-order-by="lastName"><span>Last name</span></th>
            <th md-column class="mi-th-email" md-order-by="email"><span>Email</span></th>
            <th md-column class="mi-th-addedby" md-order-by="addedBy"><span>Added by</span></th>
            <th md-column class="mi-th-status" md-order-by="status"><span>Status</span></th>
            <th md-column md-numeric class="mi-th-date" md-order-by="creationDate"><span>Added date</span></th>
            <th md-column class="mi-th-edit"></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="user in AdminUsers | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
            <td md-cell>{{user.firstName}}</td>
            <td md-cell>{{user.lastName}}</td>
            <td md-cell>{{user.email}}</td>
            <td md-cell>{{user.addedBy}}</td>
            <td md-cell>{{user.status}}</td>
            <td md-cell>{{user.creationDate | miStToDate | date:'MMM d, yyyy'}}</td>
            <td md-cell>
              <md-menu md-offset='0 25'>
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                  <md-icon md-font-set="material-icons">more_vert</md-icon>
                </md-button>
                <md-menu-content width="2" class="mi-edit-btn">
                  <md-menu-item>
                    <md-button ng-click="ViewAdminUser(user)"><span md-menu-align-target>EDIT</span>
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-table-pagination md-label="{rowsPerPage: 'Show items per page'}" md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{AdminUsers.length}}" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
  </md-card>

</md-content>
<!-- md mi side nav -->
<md-sidenav class="md-sidenav-right" layout="row" layout-align="center center" md-theme="docs-dark" md-component-id="AdminsSideNav">
  <md-content class="mi-side-form" layout-padding="" md-theme="docs-dark" flex="95">
    <ng-include src="AdminActionTemp"></ng-include>
  </md-content>
</md-sidenav>
<md-button ng-click="toggleRight()" ng-class="{'is-closed': mdSidenavOpen}" class="mi-add-admin md-fab-bottom-right md-accent md-fab" aria-label="Add Admin">
  <md-icon md-font-set="material-icons">add</md-icon>
</md-button>