<md-content layout="row" class="mi-dashboard" layout-align="center">
  <div flex="90" layout="row">
    <div flex="30">
      <md-card>
        <md-toolbar class="md-table-toolbar md-default" md-colors="::{background: 'Grey-100'}">
          <div class="md-toolbar-tools">
            Pending for approval
          </div>
        </md-toolbar>
        <md-list>
          <md-list-item ng-if="file.files.length" ng-repeat="file in PendingFiles">
            <div class="md-list-item-text" flex="100" layout="row" layout-align="space-between center">
              <span flex="30"> {{file.study.studyName}}</span>
              <span> {{ file.files.length > 1 ? file.files.length + ' Files' : file.files.length + ' File'}}</span>
              <md-button class="md-accent">VIEW</md-button>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>
      </md-card>
    </div>
    <div flex="70" layout="row" layout-wrap>
      <div flex="100" class="dashboard-services">
        <md-grid-list md-cols="3" md-row-height="2:2" md-gutter="12px">
          <md-grid-tile class="create-study" ng-click="NavToStudies('studies',true)" ui-sref="studies" md-ink-ripple>
            <div class="icon-holder">
              <img id="createstudy" src="cms/app/images/create_study_ic.svg" type="image/svg+xml">
            </div>
            <md-grid-tile-footer>
              <h3 class="md-title">Create Study</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile class="view-study" ng-click="NavToStudies('studies', false, true)" md-ink-ripple>
            <div class="icon-holder">
              <img id="viewstudy" src="cms/app/images/view_all_studies_ic.svg" type="image/svg+xml">
            </div>
            <md-grid-tile-footer>
              <h3 class="md-title">View Study</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
          <md-grid-tile class="graph-builder" md-ink-ripple>
            <div class="icon-holder">
              <img id="graph" src="cms/app/images/graph_builder_ic.svg" type="image/svg+xml">
            </div>
            <md-grid-tile-footer>
              <h3 class="md-title">Graph Builder</h3>
            </md-grid-tile-footer>
          </md-grid-tile>
        </md-grid-list>
      </div>
      <md-card flex="100" class="md-whiteframe-1dp about-dashboard">
        <h2 class="md-headline">About the dashboard</h2>
        <!--<p single-line="true" data-placeholder="About the dashboard" edit-callback="editDashboard" ng-model="AboutDashboard.about" content-editable>
          {{AboutDashboard.about}}
        </p>-->
        
        <p  editable-text="AboutDashboard.about"  md-autofocus on-change="editDashboard(value)" flex="100" placeholder="About the dashboard" ng-model="AboutDashboard.about" ></p>

      </md-card>
    </div>
  </div>
</md-content>