.mi-footer-nav {
  display: block;
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    padding-right: 20px;
    &:last-child {
      float: right;
      padding-right: 0;
    }
    a {
      text-decoration: none;
      color: #757575;
      font-size: 13px;
    }
  }
}