body {
  overflow-x: hidden;
  height: auto;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: transparentize(#000000, .7);
}

md-sidenav.md-docs-dark-theme {
  position: fixed;
}

md-toast {
  position: fixed
}