.mi-dashboard {
  .md-table-toolbar,
  .md-toolbar-tools {
    height: 54px;
    min-height: 54px;
  }
  md-list-item {
    padding-left: 20px;
  }
  md-toolbar.md-table-toolbar .md-toolbar-tools {
    padding: 0 20px;
  }
  .about-dashboard {
    padding: 20px;
    .md-headline {
      margin: 0;
      color: $l-theme-Secondary-color
    }
    p {
      min-height: 50px;
      input{
        width:100%,
      }
      &.ng-empty:before {
        content: attr(data-placeholder);
        color: $l-theme-Disabled-color;
      }
      &.ng-empty[contenteditable=true]:before {
        content: '';
      }
    }
  }
}

.dashboard-services {
  md-grid-list {
    margin: 8px;
    md-grid-tile md-grid-tile-footer {
      top: 65%;
      text-align: center;
      background-color: transparent;
      figcaption {
        width: 100%
      }
    }
  }
  h3 {
    color: $d-theme-Primary-color;
    margin: 0;
    font-weight: 400
  }
  .create-study {
    background-color: #FDC000;
    img {
      width: 133px;
      height: 111px;
    }
    .icon-holder {
      width: 70px;
      height: 66px;
      // margin: auto;
      // display: inline-block;
      // vertical-align: middle;
    }
  }
  .view-study {
    background-color: #0096A6;
    img {
      width: 165px;
      height: 110px;
    }
    .icon-holder {
      width: 120px;
      height: 66px;
    }
  }
  .graph-builder {
    background-color: #D04738;
    img {
      width: 190px;
      height: 180px;
    }
    .icon-holder {
      width: 130px;
      height: 110px;
    }
  }
}