md-menu-content.mi-edit-btn {
  padding: 0;
}

.mi-th-firstname {
  width: 20%;
  min-width: 20%;
}

.mi-th-lastname {
  width: 20%;
  min-width: 20%;
}

.mi-th-email {
  width: 25%;
  min-width: 25%;
}

.mi-th-addedby {
  width: 25%;
  min-width: 25%;
}

.mi-th-status {
  width: 5%;
  min-width: 5%;
}

.mi-th-date {
  width: 5%;
  min-width: 5%;
}

.mi-th-edit {
  width: 0;
  min-width: 0;
}

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
  padding: 0 10px 0 0;
}