$input-error-height:35px;
// light theme text colors
$l-theme-Primary-color: transparentize(#000, 0.87);
$l-theme-Secondary-color: transparentize(#000, 0.54);
$l-theme-Disabled-color: transparentize(#000, 0.38);
// dark theme text colors
$d-theme-Primary-color: #fff;
$d-theme-Secondary-color: transparentize(#fff, 0.7);
$d-theme-Disabled-color: transparentize(#fff, 0.5);