<form name="MiForms.AddAdminForm" layout="column" ng-submit="AddNewAdminUser()" novalidate layout-align="start" flex>
  <h2 class="md-display-1">Add admin</h2>
  <md-input-container flex="100">
    <label for="testInput">First name</label>
    <input type="text" name="firstname" ng-model="NewAdminUser.firstName" required>
    <div ng-messages="MiForms.AddAdminForm.firstname.$error">
      <div ng-if="MiForms.AddAdminForm.firstname.$touched" ng-message="required">This is required.</div>
    </div>
  </md-input-container>
  <md-input-container flex="100">
    <label for="testInput">Last name</label>
    <input type="text" name="lastname" ng-model="NewAdminUser.lastName" required>
    <div ng-messages="MiForms.AddAdminForm.lastname.$error">
      <div ng-if="MiForms.AddAdminForm.lastname.$touched" ng-message="required">This is required.</div>
    </div>
  </md-input-container>
  <md-input-container flex="100">
    <!--ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@[(google)]+(\.\w+){1,}$/" -->
    <label for="testInput">Email</label>
    <input type="email" name="email" ng-model="NewAdminUser.email" required>
    <div ng-messages="MiForms.AddAdminForm.email.$error">
      <div ng-if="MiForms.AddAdminForm.email.$touched" ng-message="required">This is required.</div>
      <div ng-if="MiForms.AddAdminForm.email.$touched" ng-message="pattern">invalid format.</div>
    </div>
  </md-input-container>
  <md-input-container flex="100">
    <label>Status</label>
    <md-select name="status" ng-model="NewAdminUser.status" placeholder="Status" required>
      <md-option value="ACTIVE">ACTIVE</md-option>
      <md-option value="INACTIVE">INACTIVE</md-option>
    </md-select>
    <div ng-messages="MiForms.AddAdminForm.status.$error">
      <div ng-if="MiForms.AddAdminForm.status.$touched" ng-message="required">This is required.</div>
    </div>
  </md-input-container>
  <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
    <md-button ng-click="CancelNewAdminUser(MiForms.AddAdminForm)" class="md-accent">CANCEL</md-button>
    <md-button ng-disabled="MiForms.AddAdminForm.$invalid" type="submit" class="md-accent">ADD ADMIN</md-button>
  </section>
</form>