<form name="MiForms.EditAdminForm" layout="column" ng-submit="EditAdminUser()" novalidate layout-align="start" flex>
  <h2 class="md-display-1" layout="row" layout-align="space-between center">
    <span>Edit admin</span>
    <md-button ng-click="DeleteAdminUser(NewAdminUser)" md-position-mode="target-right target" class="md-accent md-fab md-mini" aria-label="delete Admin">
      <md-icon md-font-set="material-icons">delete</md-icon>
    </md-button>
  </h2>
  <md-input-container flex="100">
    <label for="testInput">First name</label>
    <input type="text" name="firstname" ng-model="NewAdminUser.firstName" required>
    <div ng-messages="MiForms.EditAdminForm.firstname.$error">
      <div ng-if="MiForms.EditAdminForm.firstname.$touched" ng-message="required">This is required.</div>
    </div>
  </md-input-container>
  <md-input-container flex="100">
    <label for="testInput">Last name</label>
    <input type="text" name="lastname" ng-model="NewAdminUser.lastName" required>
    <div ng-messages="MiForms.EditAdminForm.lastname.$error">
      <div ng-if="MiForms.EditAdminForm.lastname.$touched" ng-message="required">This is required.</div>
    </div>
  </md-input-container>
  <md-input-container flex="100">
    <!--ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@[(google)]+(\.\w+){1,}$/" -->
    <label for="testInput">Email</label>
    <input type="email" name="email" ng-model="NewAdminUser.email" required>
    <div ng-messages="MiForms.EditAdminForm.email.$error">
      <div ng-if="MiForms.EditAdminForm.email.$touched" ng-message="required">This is required.</div>
      <div ng-if="MiForms.EditAdminForm.email.$touched" ng-message="pattern">invalid format.</div>
    </div>
  </md-input-container>
  <md-input-container flex="100">
    <label>Status</label>
    <md-select name="status" ng-model="NewAdminUser.status" placeholder="Status" required>
      <md-option value="ACTIVE">ACTIVE</md-option>
      <md-option value="INACTIVE">INACTIVE</md-option>
    </md-select>
    <div ng-messages="MiForms.EditAdminForm.status.$error">
      <div ng-if="MiForms.EditAdminForm.status.$touched" ng-message="required">This is required.</div>
    </div>
  </md-input-container>

  <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
    <md-button ng-click="CancelNewAdminUser()" class="md-accent">CANCEL</md-button>
    <md-button type="submit" class="md-accent">Save</md-button>
  </section>
</form>