<form layout="column" name="MiForms.AddStudyForm" ng-submit="AddStudy()" novalidate layout-align="start" flex>
    <h2 class="md-display-1">Add new study</h2>
    <md-input-container class="studies-logo-input" flex="100">
        <!--<label>Study name</label>-->
        <div layout="row" layout-align="start center" class="mi-v-upload">
            <md-button href md-position-mode="target-right target" class="md-accent md-fab md-mini" aria-label="Add Admin">
                <md-icon md-font-set="material-icons">photo_camera</md-icon>
                <!--<img ng-if="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb">-->
            </md-button>
            <span>Upload Logo</span>
        </div>
        <input type="file" name="logo" ngf-accept="'.png,.jpg'" ngf-max-total-size="250000" ngf-select="uploadFiles($file, $invalidFiles)" aria-label="img upload" name="file" ngf-model-invalid="errorFile">
        <div ng-messages="MiForms.AddStudyForm.logo.$error">
            <div ng-message="accept">invalid image.</div>
            <div ng-message="maxTotalSize">invalid size of image.</div>
            <!-- <div ng-if="MiForms.AddStudyForm.logo.$dirty" ng-message="required">This is required.</div> -->
        </div>
    </md-input-container>
    <md-input-container flex="100">
        <label>Study name</label>
        <input type="text" name="studyname" ng-model="StudyData.studyName" ng-maxlength="16" required>
        <div ng-messages="MiForms.AddStudyForm.studyname.$error">
            <div ng-if="MiForms.AddStudyForm.studyname.$touched" ng-message="required">This is required.</div>
            <div ng-message="maxlength">Study Name Should be less than 16 character</div>
        </div>
    </md-input-container>
    <md-input-container flex="100">
        <label>Study description</label>
        <textarea ng-model="StudyData.description" name="studydescription" rows="1" required></textarea>
        <div ng-messages="MiForms.AddStudyForm.studydescription.$error">
            <div ng-if="MiForms.AddStudyForm.studydescription.$touched" ng-message="required">This is required.</div>
        </div>
    </md-input-container>
  <md-input-container class="md-block studies-chips mi-chips-container" flex="100">
    <md-chips ng-model="StudyData.publishers" name='adminpublishers' md-autocomplete-snap md-require-match="autocompleteDemoRequireMatch">
      <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in AsyncAutocomplete(searchText, 'true')" md-item-text="item.firstName" flex md-floating-label="Admins Publishers">
        <span md-highlight-text="searchText">{{item.firstName}} {{item.lastName}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          {{$chip.firstName}} {{$chip.lastName}}
        </span>
      </md-chip-template>
      <md-icon md-chip-remove md-font-set="material-icons">close</md-icon>
    </md-chips>
    <div ng-messages="MiForms.EditStudyForm.adminpublishers.$error">
      <div ng-message="unique-admin">This is Admin is already uploader.</div>
    </div>
  </md-input-container>                                                       
    <md-input-container class="md-block studies-chips mi-chips-container" flex="100">
        <md-chips ng-model="StudyData.uploaders" name='adminuploaders' md-autocomplete-snap md-require-match="autocompleteDemoRequireMatch">
            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in AsyncAutocomplete(searchText, 'true')" md-item-text="item.firstName" md-floating-label="Admins Uploaders">
                <span md-highlight-text="searchText">{{item.firstName}} {{item.lastName}}</span>
            </md-autocomplete>
            <md-chip-template>
                <span>                                                       
          {{$chip.firstName}} {{$chip.lastName}}
        </span>
            </md-chip-template>
            <md-icon md-chip-remove md-font-set="material-icons">close</md-icon>
        </md-chips>
        <div ng-messages="MiForms.AddStudyForm.adminuploaders.$error">
            <div ng-message="unique-admin">This is Admin is already publisher.</div>
        </div>
        <div class="hint">Admins will be able to process, rollback, publish and unpublish study files.</div>
    </md-input-container>
    <md-input-container class="md-block studies-chips mi-chips-container" flex="100">
        <md-chips ng-model="StudyData.sharedWithExternalUsers" readonly="false" md-removable="true" md-enable-chip-edit="false" md-floating-label="Specify users" name="sharedWith" md-transform-chip="mailValidation($chip,MiForms.AddStudyForm.sharedWith)">
            <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in fakeobj" md-item-text="item.firstName" md-floating-label="Specify users">
            </md-autocomplete>
            <md-chip-template>
                <span>                                                       
        {{$chip}} 
        </span>
            </md-chip-template>
            <md-icon md-chip-remove md-font-set="material-icons">close</md-icon>
        </md-chips>
        <div ng-messages="MiForms.AddStudyForm.sharedWith.$error">
            <div ng-message="pattern">Invalid email.</div>
        </div>
        <div class="hint">Study statistics will be shared only with the selected researchers; otherwise it will be public.</div>
    </md-input-container>
    <md-input-container flex="100">
        <label>Total respondents interviewed</label>
        <input type="number" name="tRespondents" ng-pattern="/^[0-9]*$/" ng-model="StudyData.totalInterviewed">
        <div ng-messages="MiForms.AddStudyForm.tRespondents.$error">
            <div ng-if="MiForms.AddStudyForm.tRespondents.$touched" ng-message="pattern">invalid number.</div>
        </div>
    </md-input-container>
    <section layout="row" layout-sm="column" layout-align="end center" layout-wrap>
        <md-button ng-click="CancelNewStudy()" class="md-accent">CANCEL</md-button>
        <md-button ng-disabled="MiForms.AddStudyForm.$invalid" type="submit" class="md-accent">ADD STUDY</md-button>
    </section>
</form>
