<md-content layout="column" class="mi-studies" layout-align="center">
  <md-toolbar layout="row" layout-align="center">
    <div class="md-toolbar-tools" flex="90">
      <!--filter nav menu-->
      <md-nav-bar layout="row" class="mi-bw-filter" md-selected-nav-item="'ListStudies'" nav-bar-aria-label="navigation links">
        <!--study filtering by sending api name in fun paramter-->
        <md-nav-item md-nav-click="StudiesFiltering('ListStudies')" name="ListStudies">All</md-nav-item>
        <md-nav-item md-nav-click="StudiesFiltering('LoggedInUserStudies')" name="LoggedInUserStudies">Uploaded by you</md-nav-item>
        <md-nav-item md-nav-click="StudiesFiltering('LoggedAssignedStudies')" name="LoggedAssignedStudies">Shared with you</md-nav-item>
      </md-nav-bar>
      <span flex></span>
      <!--search block -->
      <!--<form ng-submit="QuickStudiesSearch(StudySearch)" >-->
      <md-input-container flex="30" md-no-float class="mi-study-search md-block">
        <md-icon md-font-set="material-icons">search</md-icon>
        <input ng-model="StudySearch.studyName" type="text" autocomplete="off" placeholder="Find study">
      </md-input-container>
      <!--</form>-->
    </div>
  </md-toolbar>



  <div layout="row" layout-align="center">
    <div layout="row" layout-wrap flex="90">
      <div flex="25" ng-repeat="study in StudiesListing | filter:StudySearch | orderBy:'creationDate':true"  layout="column">
        <md-card class="_md md-default-theme">
          <img ng-src="{{study.logoUrl}}" class="md-card-image" alt="{{study.studyName}}">
          <span class="study-pending" ng-if="study.pendingFiles > 0">{{study.pendingFiles}} pending</span>
          <md-menu class="mi-study-edit" md-offset='0 25' ng-if="!IsAdmin">
            <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
              <md-icon md-font-set="material-icons">more_vert</md-icon>
            </md-button>
            <md-menu-content width="2" class="mi-edit-btn">
              <md-menu-item>
                <md-button ng-click="ViewStudy(study)">
                  <span md-menu-align-target>EDIT</span>
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-card-title>
            <md-card-title-media>
            </md-card-title-media>
            <md-card-title-text>
              <span class="md-headline">{{study.studyName | limitTo : 16}}</span>
              <span class="md-subhead">Added by {{study.ownerEmail}}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-actions layout="row" layout-align="start center">
            <md-button class="md-accent" ui-sref-opts="{reload: false}" ui-sref="studies-views({studyID: study.studyID})">VIEW DATA</md-button>
            <md-button ng-click="ImportFile(study)" class="md-accent">IMPORT</md-button>
          </md-card-actions>
        </md-card>
      </div>
      <div layout="row" flex="100" layout-align="center center" ng-show="(StudiesListing | filter:StudySearch).length == 0">No results</div>
    </div>
  </div>
</md-content>
<!-- md mi side nav -->
<md-sidenav class="md-sidenav-right" layout="row" layout-align="center center" md-theme="docs-dark" md-component-id="StudiesSideNav">
  <md-content class="mi-side-form" layout-padding="" md-theme="docs-dark" flex="95">
    <ng-include src="StudyActionTemp"></ng-include>
  </md-content>
</md-sidenav>

<md-button ng-click="toggleRight()" ng-class="{'is-closed': mdSidenavOpen}" class="mi-add-admin md-fab-bottom-right md-accent md-fab" aria-label="Add Admin" ng-if="!IsAdmin">
  <md-icon class="material-icons">add</md-icon>
</md-button>