@import url(//www.google.com/css/maia.css);

/*! jQuery UI - v1.9.2 - 2012-11-23
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/
* Copyright (c) 2012 jQuery Foundation and other contributors Licensed MIT */
.ui-multiselect {
	padding: 2px 0 2px 4px;
	text-align: left
}

.ui-multiselect span.ui-icon {
	float: right
}

.ui-multiselect-single .ui-multiselect-checkboxes input {
	position: absolute !important;
	top: auto !important;
	left: -9999px;
}

.ui-multiselect-single .ui-multiselect-checkboxes label {
	padding: 5px !important
}

.ui-multiselect-header {
	margin-bottom: 3px;
	padding: 3px 0 3px 4px
}

.ui-multiselect-header ul {
	font-size: 0.9em
}

.ui-multiselect-header ul li {
	float: left;
	padding: 0 10px 0 0
}

.ui-multiselect-header a {
	text-decoration: none
}

.ui-multiselect-header a:hover {
	text-decoration: underline
}

.ui-multiselect-header span.ui-icon {
	float: left
}

.ui-multiselect-header li.ui-multiselect-close {
	float: right;
	text-align: right;
	padding-right: 0
}

.ui-multiselect-menu {
	display: none;
	padding: 3px;
	position: absolute;
	z-index: 10000;
	text-align: left
}

.ui-multiselect-checkboxes {
	position: relative /* fixes bug in IE6/7 */;
	overflow-y: auto
}

.ui-multiselect-checkboxes label {
	cursor: default;
	display: block;
	border: 1px solid transparent;
	padding: 3px 1px
}

.ui-multiselect-checkboxes label input {
	position: relative;
	top: 1px
}

.ui-multiselect-checkboxes li {
	clear: both;
	font-size: 0.9em;
	padding-right: 3px
}

.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label {
	text-align: center;
	font-weight: bold;
	border-bottom: 1px solid
}

.ui-multiselect-checkboxes li.ui-multiselect-optgroup-label a {
	display: block;
	padding: 3px;
	margin: 1px 0;
	text-decoration: none
}

/* remove label borders in IE6 because IE6 does not support transparency */
* html .ui-multiselect-checkboxes label {
	border: none
}

/* Layout helpers
----------------------------------*/
.ui-helper-hidden {
	display: none;
}

.ui-helper-hidden-accessible {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.ui-helper-reset {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	line-height: 1.3;
	text-decoration: none;
	font-size: 100%;
	list-style: none;
}

.ui-helper-clearfix:before, .ui-helper-clearfix:after {
	content: "";
	display: table;
}

.ui-helper-clearfix:after {
	clear: both;
}

.ui-helper-clearfix {
	zoom: 1;
}

.ui-helper-zfix {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0;
	filter: Alpha(Opacity =                                  
		                                                         
		                                    0);
}

/* Interaction Cues
----------------------------------*/
.ui-state-disabled {
	cursor: default !important;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
}

/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin-top: 2px;
	padding: .5em .5em .5em .7em;
	zoom: 1;
}

.ui-accordion .ui-accordion-icons {
	padding-left: 2.2em;
}

.ui-accordion .ui-accordion-noicons {
	padding-left: .7em;
}

.ui-accordion .ui-accordion-icons .ui-accordion-icons {
	padding-left: 2.2em;
}

.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	position: absolute;
	left: .5em;
	top: 50%;
	margin-top: -8px;
}

.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
	zoom: 1;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
}

/* workarounds */
* html .ui-autocomplete {
	width: 1px;
} /* without this, the menu expands to 100% in IE6 */
.ui-button {
	display: inline-block;
	position: relative;
	padding: 0;
	margin-right: .1em;
	cursor: pointer;
	text-align: center;
	zoom: 1;
	overflow: visible;
} /* the overflow property removes extra width in IE */
.ui-button, .ui-button:link, .ui-button:visited, .ui-button:hover,
	.ui-button:active {
	text-decoration: none;
}

.ui-button-icon-only {
	width: 2.2em;
} /* to make room for the icon, a width needs to be set here */
button.ui-button-icon-only {
	width: 2.4em;
} /* button elements seem to need a little more width */
.ui-button-icons-only {
	width: 3.4em;
}

button.ui-button-icons-only {
	width: 3.7em;
}

/*button text element */
.ui-button .ui-button-text {
	display: block;
	line-height: 1.4;
}

.ui-button-text-only .ui-button-text {
	padding: .4em 1em;
}

.ui-button-icon-only .ui-button-text, .ui-button-icons-only .ui-button-text
	{
	padding: .4em;
	text-indent: -9999999px;
}

.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text
	{
	padding: .4em 1em .4em 2.1em;
}

.ui-button-text-icon-secondary .ui-button-text, .ui-button-text-icons .ui-button-text
	{
	padding: .4em 2.1em .4em 1em;
}

.ui-button-text-icons .ui-button-text {
	padding-left: 2.1em;
	padding-right: 2.1em;
}
/* no icon support for input elements, provide padding by default */
input.ui-button {
	padding: .4em 1em;
}

/*button icon element(s) */
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon,
	.ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon,
	.ui-button-icons-only .ui-icon {
	position: absolute;
	top: 50%;
	margin-top: -8px;
}

.ui-button-icon-only .ui-icon {
	left: 50%;
	margin-left: -8px;
}

.ui-button-text-icon-primary .ui-button-icon-primary,
	.ui-button-text-icons .ui-button-icon-primary, .ui-button-icons-only .ui-button-icon-primary
	{
	left: .5em;
}

.ui-button-text-icon-secondary .ui-button-icon-secondary,
	.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary
	{
	right: .5em;
}

.ui-button-text-icons .ui-button-icon-secondary, .ui-button-icons-only .ui-button-icon-secondary
	{
	right: .5em;
}

/*button sets*/
.ui-buttonset {
	margin-right: 7px;
}

.ui-buttonset .ui-button {
	margin-left: 0;
	margin-right: -.3em;
}

/* workarounds */
button.ui-button::-moz-focus-inner {
	border: 0;
	padding: 0;
} /* reset extra padding in Firefox */
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
}

.ui-datepicker .ui-datepicker-header {
	position: relative;
	padding: .2em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}

.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover
	{
	top: 1px;
}

.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}

.ui-datepicker .ui-datepicker-next {
	right: 2px;
}

.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}

.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span
	{
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}

.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;
}

.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
	width: 100%;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year
	{
	width: 49%;
}

.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}

.ui-datepicker th {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.ui-datepicker td {
	border: 0;
	padding: 1px;
}

.ui-datepicker td span, .ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}

.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}

.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi {
	width: auto;
}

.ui-datepicker-multi .ui-datepicker-group {
	float: left;
}

.ui-datepicker-multi .ui-datepicker-group table {
	width: 95%;
	margin: 0 auto .4em;
}

.ui-datepicker-multi-2 .ui-datepicker-group {
	width: 50%;
}

.ui-datepicker-multi-3 .ui-datepicker-group {
	width: 33.3%;
}

.ui-datepicker-multi-4 .ui-datepicker-group {
	width: 25%;
}

.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
	border-left-width: 0;
}

.ui-datepicker-multi .ui-datepicker-buttonpane {
	clear: left;
}

.ui-datepicker-row-break {
	clear: both;
	width: 100%;
	font-size: 0em;
}

/* RTL support */
.ui-datepicker-rtl {
	direction: rtl;
}

.ui-datepicker-rtl .ui-datepicker-prev {
	right: 2px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next {
	left: 2px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-prev:hover {
	right: 1px;
	left: auto;
}

.ui-datepicker-rtl .ui-datepicker-next:hover {
	left: 1px;
	right: auto;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane {
	clear: right;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button {
	float: left;
}

.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current
	{
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group {
	float: right;
}

.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
	border-right-width: 0;
	border-left-width: 1px;
}

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
	position: absolute; /*must have*/
	z-index: -1; /*must have*/
	filter: mask(); /*must have*/
	top: -4px; /*must have*/
	left: -4px; /*must have*/
	width: 200px; /*must have*/
	height: 200px; /*must have*/
}

.ui-dialog {
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	width: 300px;
	overflow: hidden;
}

.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}

.ui-dialog .ui-dialog-title {
	float: left;
	margin: .1em 16px .1em 0;
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
}

.ui-dialog .ui-dialog-titlebar-close span {
	display: block;
	margin: 1px;
}

.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus
	{
	padding: 0;
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
	zoom: 1;
}

.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin: .5em 0 0 0;
	padding: .3em 1em .5em .4em;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}

.ui-dialog .ui-resizable-se {
	width: 14px;
	height: 14px;
	right: 3px;
	bottom: 3px;
}

.ui-draggable .ui-dialog-titlebar {
	cursor: move;
}

.ui-menu {
	list-style: none;
	padding: 2px;
	margin: 0;
	display: block;
	outline: none;
}

.ui-menu .ui-menu {
	margin-top: -3px;
	position: absolute;
}

.ui-menu .ui-menu-item {
	margin: 0;
	padding: 0;
	zoom: 1;
	width: 100%;
}

.ui-menu .ui-menu-divider {
	margin: 5px -2px 5px -2px;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}

.ui-menu .ui-menu-item a {
	text-decoration: none;
	display: block;
	padding: 2px .4em;
	line-height: 1.5;
	zoom: 1;
	font-weight: normal;
}

.ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active
	{
	font-weight: normal;
	margin: -1px;
}

.ui-menu .ui-state-disabled {
	font-weight: normal;
	margin: .4em 0 .2em;
	line-height: 1.5;
}

.ui-menu .ui-state-disabled a {
	cursor: default;
}

/* icon support */
.ui-menu-icons {
	position: relative;
}

.ui-menu-icons .ui-menu-item a {
	position: relative;
	padding-left: 2em;
}

/* left-aligned */
.ui-menu .ui-icon {
	position: absolute;
	top: .2em;
	left: .2em;
}

/* right-aligned */
.ui-menu .ui-menu-icon {
	position: static;
	float: right;
}

.ui-progressbar {
	height: 2em;
	text-align: left;
	overflow: hidden;
}

.ui-progressbar .ui-progressbar-value {
	margin: -1px;
	height: 100%;
}

.ui-resizable {
	position: relative;
}

.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
}

.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle
	{
	display: none;
}

.ui-resizable-n {
	cursor: n-resize;
	height: 7px;
	width: 100%;
	top: -5px;
	left: 0;
}

.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}

.ui-resizable-w {
	cursor: w-resize;
	width: 7px;
	left: -5px;
	top: 0;
	height: 100%;
}

.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}

.ui-resizable-sw {
	cursor: sw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	bottom: -5px;
}

.ui-resizable-nw {
	cursor: nw-resize;
	width: 9px;
	height: 9px;
	left: -5px;
	top: -5px;
}

.ui-resizable-ne {
	cursor: ne-resize;
	width: 9px;
	height: 9px;
	right: -5px;
	top: -5px;
}

.ui-selectable-helper {
	position: absolute;
	z-index: 100;
	border: 1px dotted black;
}

.ui-slider {
	position: relative;
	text-align: left;
}

.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 1.2em;
	height: 1.2em;
	cursor: default;
}

.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.ui-slider-horizontal {
	height: .8em;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}

.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}

.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}

.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: .8em;
	height: 100px;
}

.ui-slider-vertical .ui-slider-handle {
	left: -.3em;
	margin-left: 0;
	margin-bottom: -.6em;
}

.ui-slider-vertical .ui-slider-range {
	left: 0;
	width: 100%;
}

.ui-slider-vertical .ui-slider-range-min {
	bottom: 0;
}

.ui-slider-vertical .ui-slider-range-max {
	top: 0;
}

.ui-spinner {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding: 0;
	vertical-align: middle;
}

.ui-spinner-input {
	border: none;
	background: none;
	padding: 0;
	margin: .2em 0;
	vertical-align: middle;
	margin-left: .4em;
	margin-right: 22px;
}

.ui-spinner-button {
	width: 16px;
	height: 50%;
	font-size: .5em;
	padding: 0;
	margin: 0;
	text-align: center;
	position: absolute;
	cursor: default;
	display: block;
	overflow: hidden;
	right: 0;
}

.ui-spinner a.ui-spinner-button {
	border-top: none;
	border-bottom: none;
	border-right: none;
} /* more specificity required here to overide default borders */
.ui-spinner .ui-icon {
	position: absolute;
	margin-top: -8px;
	top: 50%;
	left: 0;
} /* vertical centre icon */
.ui-spinner-up {
	top: 0;
}

.ui-spinner-down {
	bottom: 0;
}

/* TR overrides */
.ui-spinner .ui-icon-triangle-1-s { /* need to fix icons sprite */
	background-position: -65px -16px;
}

.ui-tabs {
	position: relative;
	padding: .2em;
	zoom: 1;
}
/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
	margin: 0;
	padding: .2em .2em 0;
}

.ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom: 0;
	padding: 0;
	white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
	.ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}

.ui-tabs .ui-tabs-nav li a, .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a
	{
	cursor: pointer;
}
/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
}

.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
/* Fades and background-images don't work well together in IE6, drop the image */
* html .ui-tooltip {
	background-image: none;
}

body .ui-tooltip {
	border-width: 2px;
}

/* Component containers
----------------------------------*/
.ui-widget {
	font-family: Verdana, Arial, sans-serif;
	font-size: 1.1em;
}

.ui-widget .ui-widget {
	font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
	{
	font-family: Verdana, Arial, sans-serif;
	font-size: 1em;
}

.ui-widget-content {
	border: 1px solid #aaaaaa;
	background: #ffffff url(../images/ui/ui-bg_flat_75_ffffff_40x100.png)
		50% 50% repeat-x;
	color: #222222;
}

.ui-widget-content a {
	color: #222222;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc
		url(../images/ui/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50%
		repeat-x;
	color: #222222;
	font-weight: bold;
}

.ui-widget-header a {
	color: #222222;
}

/* Icons
----------------------------------*/

/* states and images */
.ui-icon {
	width: 16px;
	height: 16px;
	background-image: url(../images/ui/ui-icons_222222_256x240.png);
}

.ui-widget-content .ui-icon {
	background-image: url(../images/ui/ui-icons_222222_256x240.png);
}

.ui-widget-header .ui-icon {
	background-image: url(../images/ui/ui-icons_222222_256x240.png);
}

.ui-state-default .ui-icon {
	background-image: url(../images/ui/ui-icons_888888_256x240.png);
}

.ui-state-highlight .ui-icon {
	background-image: url(../images/ui/ui-icons_2e83ff_256x240.png);
}

.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {
	background-image: url(../images/ui/ui-icons_cd0a0a_256x240.png);
}

/* positioning */
.ui-icon-carat-1-n {
	background-position: 0 0;
}

.ui-icon-carat-1-ne {
	background-position: -16px 0;
}

.ui-icon-carat-1-e {
	background-position: -32px 0;
}

.ui-icon-carat-1-se {
	background-position: -48px 0;
}

.ui-icon-carat-1-s {
	background-position: -64px 0;
}

.ui-icon-carat-1-sw {
	background-position: -80px 0;
}

.ui-icon-carat-1-w {
	background-position: -96px 0;
}

.ui-icon-carat-1-nw {
	background-position: -112px 0;
}

.ui-icon-carat-2-n-s {
	background-position: -128px 0;
}

.ui-icon-carat-2-e-w {
	background-position: -144px 0;
}

.ui-icon-triangle-1-n {
	background-position: 0 -16px;
}

.ui-icon-triangle-1-ne {
	background-position: -16px -16px;
}

.ui-icon-triangle-1-e {
	background-position: -32px -16px;
}

.ui-icon-triangle-1-se {
	background-position: -48px -16px;
}

.ui-icon-triangle-1-s {
	background-position: -64px -16px;
}

.ui-icon-triangle-1-sw {
	background-position: -80px -16px;
}

.ui-icon-triangle-1-w {
	background-position: -96px -16px;
}

.ui-icon-triangle-1-nw {
	background-position: -112px -16px;
}

.ui-icon-triangle-2-n-s {
	background-position: -128px -16px;
}

.ui-icon-triangle-2-e-w {
	background-position: -144px -16px;
}

.ui-icon-arrow-1-n {
	background-position: 0 -32px;
}

.ui-icon-arrow-1-ne {
	background-position: -16px -32px;
}

.ui-icon-arrow-1-e {
	background-position: -32px -32px;
}

.ui-icon-arrow-1-se {
	background-position: -48px -32px;
}

.ui-icon-arrow-1-s {
	background-position: -64px -32px;
}

.ui-icon-arrow-1-sw {
	background-position: -80px -32px;
}

.ui-icon-arrow-1-w {
	background-position: -96px -32px;
}

.ui-icon-arrow-1-nw {
	background-position: -112px -32px;
}

.ui-icon-arrow-2-n-s {
	background-position: -128px -32px;
}

.ui-icon-arrow-2-ne-sw {
	background-position: -144px -32px;
}

.ui-icon-arrow-2-e-w {
	background-position: -160px -32px;
}

.ui-icon-arrow-2-se-nw {
	background-position: -176px -32px;
}

.ui-icon-arrowstop-1-n {
	background-position: -192px -32px;
}

.ui-icon-arrowstop-1-e {
	background-position: -208px -32px;
}

.ui-icon-arrowstop-1-s {
	background-position: -224px -32px;
}

.ui-icon-arrowstop-1-w {
	background-position: -240px -32px;
}

.ui-icon-arrowthick-1-n {
	background-position: 0 -48px;
}

.ui-icon-arrowthick-1-ne {
	background-position: -16px -48px;
}

.ui-icon-arrowthick-1-e {
	background-position: -32px -48px;
}

.ui-icon-arrowthick-1-se {
	background-position: -48px -48px;
}

.ui-icon-arrowthick-1-s {
	background-position: -64px -48px;
}

.ui-icon-arrowthick-1-sw {
	background-position: -80px -48px;
}

.ui-icon-arrowthick-1-w {
	background-position: -96px -48px;
}

.ui-icon-arrowthick-1-nw {
	background-position: -112px -48px;
}

.ui-icon-arrowthick-2-n-s {
	background-position: -128px -48px;
}

.ui-icon-arrowthick-2-ne-sw {
	background-position: -144px -48px;
}

.ui-icon-arrowthick-2-e-w {
	background-position: -160px -48px;
}

.ui-icon-arrowthick-2-se-nw {
	background-position: -176px -48px;
}

.ui-icon-arrowthickstop-1-n {
	background-position: -192px -48px;
}

.ui-icon-arrowthickstop-1-e {
	background-position: -208px -48px;
}

.ui-icon-arrowthickstop-1-s {
	background-position: -224px -48px;
}

.ui-icon-arrowthickstop-1-w {
	background-position: -240px -48px;
}

.ui-icon-arrowreturnthick-1-w {
	background-position: 0 -64px;
}

.ui-icon-arrowreturnthick-1-n {
	background-position: -16px -64px;
}

.ui-icon-arrowreturnthick-1-e {
	background-position: -32px -64px;
}

.ui-icon-arrowreturnthick-1-s {
	background-position: -48px -64px;
}

.ui-icon-arrowreturn-1-w {
	background-position: -64px -64px;
}

.ui-icon-arrowreturn-1-n {
	background-position: -80px -64px;
}

.ui-icon-arrowreturn-1-e {
	background-position: -96px -64px;
}

.ui-icon-arrowreturn-1-s {
	background-position: -112px -64px;
}

.ui-icon-arrowrefresh-1-w {
	background-position: -128px -64px;
}

.ui-icon-arrowrefresh-1-n {
	background-position: -144px -64px;
}

.ui-icon-arrowrefresh-1-e {
	background-position: -160px -64px;
}

.ui-icon-arrowrefresh-1-s {
	background-position: -176px -64px;
}

.ui-icon-arrow-4 {
	background-position: 0 -80px;
}

.ui-icon-arrow-4-diag {
	background-position: -16px -80px;
}

.ui-icon-extlink {
	background-position: -32px -80px;
}

.ui-icon-newwin {
	background-position: -48px -80px;
}

.ui-icon-refresh {
	background-position: -64px -80px;
}

.ui-icon-shuffle {
	background-position: -80px -80px;
}

.ui-icon-transfer-e-w {
	background-position: -96px -80px;
}

.ui-icon-transferthick-e-w {
	background-position: -112px -80px;
}

.ui-icon-folder-collapsed {
	background-position: 0 -96px;
}

.ui-icon-folder-open {
	background-position: -16px -96px;
}

.ui-icon-document {
	background-position: -32px -96px;
}

.ui-icon-document-b {
	background-position: -48px -96px;
}

.ui-icon-note {
	background-position: -64px -96px;
}

.ui-icon-mail-closed {
	background-position: -80px -96px;
}

.ui-icon-mail-open {
	background-position: -96px -96px;
}

.ui-icon-suitcase {
	background-position: -112px -96px;
}

.ui-icon-comment {
	background-position: -128px -96px;
}

.ui-icon-person {
	background-position: -144px -96px;
}

.ui-icon-print {
	background-position: -160px -96px;
}

.ui-icon-trash {
	background-position: -176px -96px;
}

.ui-icon-locked {
	background-position: -192px -96px;
}

.ui-icon-unlocked {
	background-position: -208px -96px;
}

.ui-icon-bookmark {
	background-position: -224px -96px;
}

.ui-icon-tag {
	background-position: -240px -96px;
}

.ui-icon-home {
	background-position: 0 -112px;
}

.ui-icon-flag {
	background-position: -16px -112px;
}

.ui-icon-calendar {
	background-position: -32px -112px;
}

.ui-icon-cart {
	background-position: -48px -112px;
}

.ui-icon-pencil {
	background-position: -64px -112px;
}

.ui-icon-clock {
	background-position: -80px -112px;
}

.ui-icon-disk {
	background-position: -96px -112px;
}

.ui-icon-calculator {
	background-position: -112px -112px;
}

.ui-icon-zoomin {
	background-position: -128px -112px;
}

.ui-icon-zoomout {
	background-position: -144px -112px;
}

.ui-icon-search {
	background-position: -160px -112px;
}

.ui-icon-wrench {
	background-position: -176px -112px;
}

.ui-icon-gear {
	background-position: -192px -112px;
}

.ui-icon-heart {
	background-position: -208px -112px;
}

.ui-icon-star {
	background-position: -224px -112px;
}

.ui-icon-link {
	background-position: -240px -112px;
}

.ui-icon-cancel {
	background-position: 0 -128px;
}

.ui-icon-plus {
	background-position: -16px -128px;
}

.ui-icon-plusthick {
	background-position: -32px -128px;
}

.ui-icon-minus {
	background-position: -48px -128px;
}

.ui-icon-minusthick {
	background-position: -64px -128px;
}

.ui-icon-close {
	background-position: -80px -128px;
}

.ui-icon-closethick {
	background-position: -96px -128px;
}

.ui-icon-key {
	background-position: -112px -128px;
}

.ui-icon-lightbulb {
	background-position: -128px -128px;
}

.ui-icon-scissors {
	background-position: -144px -128px;
}

.ui-icon-clipboard {
	background-position: -160px -128px;
}

.ui-icon-copy {
	background-position: -176px -128px;
}

.ui-icon-contact {
	background-position: -192px -128px;
}

.ui-icon-image {
	background-position: -208px -128px;
}

.ui-icon-video {
	background-position: -224px -128px;
}

.ui-icon-script {
	background-position: -240px -128px;
}

.ui-icon-alert {
	background-position: 0 -144px;
}

.ui-icon-info {
	background-position: -16px -144px;
}

.ui-icon-notice {
	background-position: -32px -144px;
}

.ui-icon-help {
	background-position: -48px -144px;
}

.ui-icon-check {
	background-position: -64px -144px;
}

.ui-icon-bullet {
	background-position: -80px -144px;
}

.ui-icon-radio-on {
	background-position: -96px -144px;
}

.ui-icon-radio-off {
	background-position: -112px -144px;
}

.ui-icon-pin-w {
	background-position: -128px -144px;
}

.ui-icon-pin-s {
	background-position: -144px -144px;
}

.ui-icon-play {
	background-position: 0 -160px;
}

.ui-icon-pause {
	background-position: -16px -160px;
}

.ui-icon-seek-next {
	background-position: -32px -160px;
}

.ui-icon-seek-prev {
	background-position: -48px -160px;
}

.ui-icon-seek-end {
	background-position: -64px -160px;
}

.ui-icon-seek-start {
	background-position: -80px -160px;
}
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first {
	background-position: -80px -160px;
}

.ui-icon-stop {
	background-position: -96px -160px;
}

.ui-icon-eject {
	background-position: -112px -160px;
}

.ui-icon-volume-off {
	background-position: -128px -160px;
}

.ui-icon-volume-on {
	background-position: -144px -160px;
}

.ui-icon-power {
	background-position: 0 -176px;
}

.ui-icon-signal-diag {
	background-position: -16px -176px;
}

.ui-icon-signal {
	background-position: -32px -176px;
}

.ui-icon-battery-0 {
	background-position: -48px -176px;
}

.ui-icon-battery-1 {
	background-position: -64px -176px;
}

.ui-icon-battery-2 {
	background-position: -80px -176px;
}

.ui-icon-battery-3 {
	background-position: -96px -176px;
}

.ui-icon-circle-plus {
	background-position: 0 -192px;
}

.ui-icon-circle-minus {
	background-position: -16px -192px;
}

.ui-icon-circle-close {
	background-position: -32px -192px;
}

.ui-icon-circle-triangle-e {
	background-position: -48px -192px;
}

.ui-icon-circle-triangle-s {
	background-position: -64px -192px;
}

.ui-icon-circle-triangle-w {
	background-position: -80px -192px;
}

.ui-icon-circle-triangle-n {
	background-position: -96px -192px;
}

.ui-icon-circle-arrow-e {
	background-position: -112px -192px;
}

.ui-icon-circle-arrow-s {
	background-position: -128px -192px;
}

.ui-icon-circle-arrow-w {
	background-position: -144px -192px;
}

.ui-icon-circle-arrow-n {
	background-position: -160px -192px;
}

.ui-icon-circle-zoomin {
	background-position: -176px -192px;
}

.ui-icon-circle-zoomout {
	background-position: -192px -192px;
}

.ui-icon-circle-check {
	background-position: -208px -192px;
}

.ui-icon-circlesmall-plus {
	background-position: 0 -208px;
}

.ui-icon-circlesmall-minus {
	background-position: -16px -208px;
}

.ui-icon-circlesmall-close {
	background-position: -32px -208px;
}

.ui-icon-squaresmall-plus {
	background-position: -48px -208px;
}

.ui-icon-squaresmall-minus {
	background-position: -64px -208px;
}

.ui-icon-squaresmall-close {
	background-position: -80px -208px;
}

.ui-icon-grip-dotted-vertical {
	background-position: 0 -224px;
}

.ui-icon-grip-dotted-horizontal {
	background-position: -16px -224px;
}

.ui-icon-grip-solid-vertical {
	background-position: -32px -224px;
}

.ui-icon-grip-solid-horizontal {
	background-position: -48px -224px;
}

.ui-icon-gripsmall-diagonal-se {
	background-position: -64px -224px;
}

.ui-icon-grip-diagonal-se {
	background-position: -80px -224px;
}

/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	-khtml-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	-khtml-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-khtml-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-khtml-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Overlays */
.ui-widget-overlay {
	background: #aaaaaa url(../images/ui/ui-bg_flat_0_aaaaaa_40x100.png) 50%
		50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity =                                  
		                                                         
		                                    30);
}

.ui-widget-shadow {
	margin: -8px 0 0 -8px;
	padding: 8px;
	background: #aaaaaa url(../images/ui/ui-bg_flat_0_aaaaaa_40x100.png) 50%
		50% repeat-x;
	opacity: .3;
	filter: Alpha(Opacity =                                  
		                                                         
		                                    30);
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* 1. BASE
--------------------------------------------------------------------------------
==============================================================================*/

/* 1.1 Clearfix
------------------------------------------------------------------------------*/
.left-side-form li:after, .setting-bar:after, .clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: ' ';
	clear: both;
	height: 0;
}

.ie7 .left-side-form li, .ie7 .setting-bar, .ie7 .clearfix {
	zoom: 1;
}

/* 1.2 Selection pseudo-elements
------------------------------------------------------------------------------*/
::-moz-selection {
	color: #333;
	background: #ccc;
}

::selection {
	color: #333;
	background: #ccc;
}

/* 1.3 Pseudo-class transitions
------------------------------------------------------------------------------*/
a, a:hover, a:focus, a:active, button, button:hover, button:focus,
	button:active, input, input:hover, input:focus, input:active, textarea,
	textarea:hover, textarea:focus, textarea:active {
	-moz-transition: all .15s ease-out;
	-webkit-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	-ms-transition: all .15s ease-out;
	transition: all .15s ease-out;
}

/* 1.4 Image replacement
------------------------------------------------------------------------------*/
.ir {
	display: block;
	position: relative;
	overflow: hidden;
}

.ir span {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.ie7 .ir a span, .ie7 a.ir span {
	cursor: pointer;
}

/* 1.5 Default styles
------------------------------------------------------------------------------*/
body {
	
}

label {
	display: inline-block;
}

input[type=password], input[type=text], textarea {
	
}

input[type=password]:focus, input[type=text]:focus, textarea:focus {
	
}

textarea {
	
}

button, input[type=button], input[type=reset], input[type=submit],
	.button {
	
}

.oldie button, .oldie input[type=button], .oldie input[type=reset],
	.oldie input[type=submit], .oldie .button {
	
}

.oldie .button {
	
}

button:hover, button:focus, input[type=button]:hover, input[type=reset]:hover,
	input[type=submit]:hover, .button:hover, input[type=button]:focus,
	input[type=reset]:focus, input[type=submit]:focus, .button:focus {
	
}

button:active, input[type=button]:active, input[type=image]:active,
	input[type=reset]:active, input[type=submit]:active, .button:active {
	
}

table {
	width: 100%;
}

caption {
	
}

th, td {
	
}

hr {
	display: none;
}

/* 1.6 Type & content properties
------------------------------------------------------------------------------*/
a {
	
}

a:hover {
	
}

h1 {
	
}

h2 {
	
}

h3 {
	
}

h4 {
	
}

h5 {
	
}

h6 {
	
}

h1, h2, h3, h4, h5, h6 {
	
}

blockquote {
	
}

p, pre {
	
}

dl, menu, ol, ul {
	
}

menu, ol, ul {
	
}

li ol, li ul {
	
}

dd {
	
}

table {
	
}

p:first-child, blockquote:first-child, pre:first-child, h1:first-child,
	h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child,
	ul:first-child, ol:first-child, dl:first-child, table:first-child {
	
}

p:last-child, blockquote:last-child, pre:last-child, h1:last-child, h2:last-child,
	h3:last-child, h4:last-child, h5:last-child, h6:last-child, ul:last-child,
	ol:last-child, dl:last-child, table:last-child {
	
}

/* 2. COMMON
--------------------------------------------------------------------------------
==============================================================================*/

/* Header */

/* layout */
.maia-cols {
	list-style: none;
}

#maia-signature {
	margin-top: 0;
	max-width: 97%;
}

.get-login #maia-signature {
	max-width: 978px;
}

/* Navigation */
#maia-nav-x.maia-nav {
	font: 15px/44px 'Open Sans', sans-serif;
	background: url(../images/nav-bg.jpg) repeat-x left top;
}

.sub-nav {
	height: 28px;
	background: url(../images/sub-nav-bg.jpg) repeat-x left top;
	border-bottom: 1px solid #f0f0f0;
}

.sub-nav ul {
	margin-top: 7px;
	float: right;
	list-style: none;
}

.sub-nav li {
	display: block;
	float: left;
	margin: 0;
	padding: 0 0.5em;
	font-size: 13px;
	line-height: 15px;
	color: #444;
	border-left: 1px solid #444;
}

.sub-nav li:first-child {
	border: none;
}

.sub-nav li a {
	font-size: 13px;
	line-height: 15px;
	padding: 0;
	font-weight: normal;
	color: #0056cf;
}

.sub-nav li.user a {
	color: #444;
	text-decoration: none;
}

#maia-nav-x li a {
	color: #fff;
}

#maia-nav-x li.user-login {
	float: right;
}

.user-login span {
	position: relative;
	font: 300 15px 'Open Sans', sans-serif;
	margin-right: 6em;
	padding-right: 0.5em;
	border-right: 1px solid #f4f4f4;
}

.dashboard {
	width: 90%;
	margin: 0 auto;
}

.dashboard li img {
	float: right;
	display: block;
	margin-top: 1.236em;
}

.orange-button {
	background: #f09f55;
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YwOWY1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYTc4MmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f09f55 0%, #ca782d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f09f55),
		color-stop(100%, #ca782d));
	background: -webkit-linear-gradient(top, #f09f55 0%, #ca782d 100%);
	background: -o-linear-gradient(top, #f09f55 0%, #ca782d 100%);
	background: -ms-linear-gradient(top, #f09f55 0%, #ca782d 100%);
	background: linear-gradient(to bottom, #f09f55 0%, #ca782d 100%);
	-pie-background: linear-gradient(to bottom, #f09f55 0%, #ca782d 100%);
}

.orange-button:focus, .orange-button:visited, .orange-button:hover {
	background: #ca782d;
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NhNzgyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMDlmNTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ca782d 0%, #f09f55 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ca782d),
		color-stop(100%, #f09f55));
	background: -webkit-linear-gradient(top, #ca782d 0%, #f09f55 100%);
	background: -o-linear-gradient(top, #ca782d 0%, #f09f55 100%);
	background: -ms-linear-gradient(top, #ca782d 0%, #f09f55 100%);
	background: linear-gradient(to bottom, #ca782d 0%, #f09f55 100%);
	-pie-background: linear-gradient(to bottom, #ca782d 0%, #f09f55 100%);
}

nav.maia-col-3 {
	margin: 0;
	background: #f9f9f9;
	min-width: 195px;
}

.left-nav {
	margin: 0;
	list-style: none;
}

.left-nav li {
	line-height: 3.7em;
	padding-left: 1.8em;
	margin-right: -1px;
	border-bottom: 1px solid #f5f5f5;
}

.left-nav li.active {
	background: #fff;
}

.left-nav li a {
	font: 300 1em/1 'Open Sans', sans-serif;
	color: #0056cf;
}

.left-nav li.active a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.left-nav a.orange-button {
	line-height: 1.5em;
	margin: 1em 0.5em 1em -0.5em;
}

.left-nav li span {
	line-height: 1;
	display: inline-block;
	margin-left: 1.2em;
	padding: 0.3em 0.7em;
	/* 	color: #fff; */
	text-decoration: none;
	/*border: 1px solid #f0f0f0;*/
	/* 	background: #ed4949; */
	/* 	background: */
	/* 		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkNDk0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNjQ5NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); */
	/* 	background: -moz-linear-gradient(top, #ed4949 0%, #c64949 100%); */
	/* 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ed4949), */
	/* 		color-stop(100%, #c64949) ); */
	/* 	background: -webkit-linear-gradient(top, #ed4949 0%, #c64949 100%); */
	/* 	background: -o-linear-gradient(top, #ed4949 0%, #c64949 100%); */
	/* 	background: -ms-linear-gradient(top, #ed4949 0%, #c64949 100%); */
	/* 	background: linear-gradient(to bottom, #ed4949 0%, #c64949 100%); */
	/* 	-pie-background: linear-gradient(to bottom, #ed4949 0%, #c64949 100%); */
}

.signin-page {
	margin-left: 0.4em;
}

.redtext {
	color: #dd4b39;
}

.show-info {
	float: right;
}

.show-info form {
	float: left;
	width: 220px;
	margin-top: 6px;
	margin-bottom: 0;
}

.show-info form fieldset {
	margin: 0;
}

.setting-bar h1 a, .setting-bar h1 a:visited {
	margin: 0;
	padding: 0.1em 0.2em;
	color: #444;
}

.setting-bar h1 a:hover {
	background: #f2f2f2;
}

.dashboard-blocks {
	margin-left: 0%;
}

.dashboard-blocks img {
	width: 100%;
	margin: 0 auto;
}

.dash-block-cont { /* 	float: left; */
	/* 	width: 48%; */
	/* 	min-width: 280px; */
	margin: 0;
}

.dash-block-wrap {
	overflow: hidden;
	border: 1px solid #e5e5e5;
	margin: 2% 0;
	border: 1px solid #e5e5e5;
}

.dash-block-wrap .widget-question {
	font-size: 13px;
	padding: 3px 10px;
	font-family: 'open sans';
	background: #f7f7f7;
}

.dash-block-wrap p.widget-wave {
	font-size: 11px;
	padding: 0 10px;
	color: #666;
}

.dash-block-wrap p.widget-filters {
	font-size: 11px;
	padding: 0 10px;
	color: #666;
}

.dash-block-wrap p.widget-wave span {
	float: right;
}

.dash-block-wrap .small {
	margin: 0 10px;
	font-size: 11px;
	line-height: 1.8;
}

.show-icon {
	float: right;
	width: 13px;
	height: 13px;
	margin: 3px 0 0 25px;
	display: inline-block;
	text-indent: -99999px;
	background: url(../images/icon.png) no-repeat 0 -20px;
	width: 13px;
	opacity: .6 !important;
	filter: alpha(opacity =              
		                                                         
		                60) !important;
}

.remove-icon {
	float: right;
	width: 13px;
	height: 13px;
	margin: 3px 10px 0 13px;
	display: inline-block;
	text-indent: -99999px;
	background: url(../images/icon.png) no-repeat 0 0;
	opacity: .6 !important;
	filter: alpha(opacity =              
		                                                         
		                60) !important;
}

.update-icon {
	float: right;
	width: 20px;
	height: 20px;
	margin: -1px 0px 0 12px;
	display: inline-block;
	text-indent: -99999px;
	background: url(../images/refresh.png) no-repeat 0 0;
	opacity: .6 !important;
	filter: alpha(opacity =              
		                                                         
		                60) !important;
}

.show-icon:hover, .remove-icon:hover, .update-icon:hover {
	opacity: 1 !important;
	filter: alpha(opacity =             
		                                                         
		                 100) !important;
}

.dash-block-wrap .highcharts-container {
	border-width: 1px 0px 0px 0px;
}

.dash-block {
	border: 1px solid #e5e5e5;
	min-height: 229px;
}

.dashboard-blocks h2 {
	font-size: 1em;
	line-height: 1.1em;
	margin: 0;
	padding: 0.5em;
	background: #f1f1f1;
}

/* .dashboard-blocks h2 span { */
/* 	opacity: 0.55; */
/* 	float: right; */
/* 	display: inline-block; */
/* 	width: 13px; */
/* 	height: 14px; */
/* 	background: url(../images/icon.png) no-repeat left -20px; */
/* } */
p.small {
	padding: 0.5em;
	font-size: 0.8em;
	margin: 0;
}

p.small span {
	float: right;
	text-align: right;
}

.dashboard-blocks table {
	margin: 0;
}

.dashboard-blocks table td {
	border-left: none;
}

.sign-in {
	padding: 1em;
	border: 1px solid #f2f2f2;
	background: #f1f1f1;
}

.google-logo {
	display: inline-block;
	float: right;
	width: 53px;
	height: 22px;
	text-indent: -9999px;
	background: url(../images/google-small-logo.jpg) no-repeat left top;
}

.remember {
	float: right;
	margin-right: 147px;
}

.remember label {
	cursor: pointer;
	margin-top: 4px;
}

/* maia-overwrite */
html {
	padding: 0;
}

#maia-main, .maia-aux {
	width: auto;
	max-width: inherit;
}

.get-login #maia-main, .get-login .maia-aux {
	width: 978px;
	max-width: 978px;
	margin: auto;
}

#maia-header, #maia-nav-x, #maia-footer, .maia-stage {
	margin: 0;
	min-width: 980px;
}

/* layout */
#main-content {
	width: 100%;
	margin-top: 0px;
	margin-bottom: -4px;
	background: #f9f9f9;
	min-width: 980px;
}

.left-side { /* width: 17.5%; */
	float: left;
	width: 235px;
}

.right-side {
	padding-left: 25px;
	margin-left: 235px;
	padding-top: 10px;
	padding-bottom: 1.2em;
	padding-right: 1%;
	box-shadow: inset 1px 0px 1px #f0f0f0;
	background: #fff;
	min-height: 400px;
}

.setting-bar {
	display: inline-block;
	width: 100%;
	position: relative;
}

.setting-bar h1 {
	float: left;
}

.setting-icon {
	float: right;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	cursor: pointer;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin-top: 24px;
	min-width: 54px;
	outline: 0 none;
	padding: 0 8px;
	text-align: center;
	white-space: nowrap;
	background: -moz-linear-gradient(center top, #F5F5F5 0%, #F1F1F1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5),
		color-stop(100%, #F1F1F1));
	background: -webkit-linear-gradient(top, #F5F5F5 0%, #F1F1F1 100%);
	background: -o-linear-gradient(top, #F5F5F5 0%, #F1F1F1 100%);
	background: -ms-linear-gradient(top, #F5F5F5 0%, #F1F1F1 100%);
	background: linear-gradient(to bottom, #F5F5F5 0%, #F1F1F1 100%);
	-pie-background: linear-gradient(to bottom, #F5F5F5 0%, #F1F1F1 100%);
}

.s-icon {
	opacity: 0.55;
	margin-top: -1px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	height: 21px;
	width: 21px;
	background: url("//ssl.gstatic.com/ui/v1/icons/mail/sprite_black2.png")
		no-repeat scroll 0 -21px transparent;
}

.setting-arrow {
	opacity: 0.55;
	margin-top: -1px;
	vertical-align: middle;
	display: inline-block;
	position: relative;
	height: 6px;
	width: 7px;
	background: url("//ssl.gstatic.com/ui/v1/zippy/arrow_down.png")
		no-repeat scroll 0 1px transparent;
}

.setting-content {
	display: none;
	position: absolute;
	top: 53px;
	right: 0;
	float: right;
	width: 200px;
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	cursor: default;
	font-size: 13px;
	margin: 0;
	outline: medium none;
	padding: 6px 0;
	position: absolute;
	z-index: 1;
}

.setting-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.setting-content ul li {
	padding: 0.1em 0 0.1em 1em;
}

.setting-content ul li:hover {
	background: #e5e5e5;
}

.setting-content li.border {
	padding-top: 0.3em;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.setting-content a {
	display: block;
	margin: 0.5em 0;
	padding: 0;
	color: #444;
	text-align: left;
	text-decoration: none;
}

.trend-holder img, .trend-holder {
	width: 100%;
	margin-top: 1em;
}

/* Select box */
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default, .sbHolder {
	position: relative;
	width: 122px;
	height: 26px;
	padding: 0 10px;
	font: 11px/26px Arial, Helvetica, sans-serif;
	color: #444;
	background: url(../images/select-bg.jpg) repeat-x left top;
	border-radius: 2px;
	border: solid 1px #f4f4f4;
	cursor: pointer;
}

.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
	padding-left: 7px !important;
	width: 144px !important;
	line-height: 20px !important;
}

.sbHolder:focus .sbSelector {
	
}

.sbSelector {
	display: block;
	height: 26px;
	left: 0;
	line-height: 26px;
	outline: none;
	overflow: hidden;
	position: absolute;
	text-indent: 10px;
	top: 0;
}

.sbSelector:link, .sbSelector:visited, .sbSelector:hover {
	color: #444;
	outline: none;
	text-decoration: none;
}

.ui-multiselect span.ui-icon, .sbToggle {
	background: url(../images/select-arrow.png) 129px center no-repeat;
	display: block;
	height: 29px;
	outline: none;
	position: absolute;
	right: 0px;
	top: 0px;
	width: 142px;
}

.sbToggle:hover {
	
}

.sbToggleOpen {
	
}

.sbToggleOpen:hover {
	
}

.sbHolderDisabled {
	background-color: #3C3C3C;
	border: solid 1px #515151;
}

.sbHolderDisabled .sbHolder {
	
}

.sbHolderDisabled .sbToggle {
	
}

.ui-multiselect-checkboxes, .sbOptions {
	background-color: #f4f4f4;
	border: solid 1px #f4f4f4;
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 122px;
	padding: 0 10px;
	z-index: 1;
	overflow-y: auto;
	height: 111px;
}

.sbOptions li {
	border-top: 1px solid #ccc;
}

.sbOptions li.last {
	border-top: none;
	border-radius: 0 0 2px 2px;
}

.sbToggleOpen {
	background: #f4f4f4 url(../images/select-arrow.png) 129px center
		no-repeat;
	border-radius: 2px 2px 0 0;
}

.ui-multiselect-checkboxes {
	top: 0;
	border-bottom: 0;
}

a.ui-multiselect-close {
	display: block;
	position: absolute;
	bottom: -10px;
	left: 3px;
	color: #0056cf;
	text-decoration: none;
	width: 87px;
	height: 20px;
	line-height: 20px;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
	border-radius: 3px;
	background: #fcfcfc;
	border: 1px solid #dbdbdb;
}

.ui-widget-content {
	border-radius: 0;
	background: #F8F8F8;
	border: 1px solid #F4F4F4;
	border-top: 0;
}

.ui-widget-header {
	position: relative;
	border-radius: 0;
	background: none;
	border: none;
	margin: 10px 0;
}

.ui-multiselect-checkboxes {
	width: 142px;
	padding: 0;
}

.ui-multiselect-checkboxes li {
	font-size: 11px;
	padding: 1px 0;
	margin: 1px 0;
}

.ui-helper-reset a.ui-multiselect-none, .ui-helper-reset a.ui-multiselect-all
	{
	display: none;
}

.ui-multiselect-checkboxes label, .sbOptions a {
	border-bottom: 1px solid #f4f4f4;
	display: block;
	outline: none;
}

.ui-multiselect-checkboxes label {
	padding: 0;
	border: none;
	border-radius: 0;
	font-size: 11px;
}

.sbOptions a:link, .sbOptions a:visited {
	color: #444;
	text-decoration: none;
}

.sbOptions a:hover, .sbOptions a:focus, .sbOptions a.sbFocus {
	color: #333;
}

.sbOptions li.last a {
	border-bottom: none;
}

.sbOptions .sbDisabled {
	border-bottom: dotted 1px #515151;
	color: #999;
	display: block;
	padding: 7px 0 7px 3px;
}

.sbOptions .sbGroup {
	border-radius: 3px;
	border: 1px solid #f0f0f0;
	padding: 2px 90px;
	font-weight: bold;
}

.sbOptions .sbSub {
	padding-left: 17px;
}

.form-start li a {
	border: none;
}

#scroll .sbOptions {
	margin: 0px !important;
}

.notice h2 {
	float: left;
	margin: 6px 1em 0 0;
}

.notice form {
	float: left;
	height: 32px;
	margin: 0;
	padding: 0;
}

.notice form li {
	margin: 0;
}

.notice form fieldset {
	float: left;
	margin: 4px 0 0 0;
}

.notice form button {
	float: right;
}

/* FancyBox */
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner,
	.fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object,
	.fancybox-nav, .fancybox-nav span, .fancybox-tmp {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	vertical-align: top;
}

.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}

.fancybox-skin {
	position: relative;
	background: #fff;
	color: #444;
	text-shadow: none;
}

.fancybox-opened {
	z-index: 8030;
}

/* .fancybox-opened */
.fancybox-skin {
	padding: 0 !important;
	border: 1px solid #e2e2e2;
}

.fancybox-outer, .fancybox-inner {
	position: relative;
}

.fancybox-inner {
	overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}

.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
	{
	background: url(../images/close-popup.png) no-repeat left top;
}

#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}

#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url('../images/fancybox/fancybox_loading.gif') center center
		no-repeat;
}

.fancybox-close {
	position: absolute;
	top: 13px;
	right: -13px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

#popup-content {
	padding-left: 50px;
	padding-top: 25px;
}

.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url('../images/fancybox/blank.gif');
	/* helps IE */
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	z-index: 8040;
}

.fancybox-prev {
	left: 0;
}

.fancybox-next {
	right: 0;
}

.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	z-index: 8040;
	visibility: hidden;
}

.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}

.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}

.fancybox-nav:hover span {
	visibility: visible;
}

.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	visibility: hidden;
	max-width: 99999px;
	max-height: 99999px;
	overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
	overflow: hidden;
}

.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	z-index: 8010;
	background: rgba(255, 255, 255, 0.6);
}

.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;
	text-shadow: none;
	z-index: 8050;
}

.fancybox-opened .fancybox-title {
	visibility: visible;
}

.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	margin-bottom: -35px;
	z-index: 8050;
	text-align: center;
}

.fancybox-title-float-wrap .child {
	display: inline-block;
	margin-right: -100%;
	padding: 2px 20px;
	background: transparent;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	text-shadow: 0 1px 2px #222;
	color: #FFF;
	font-weight: bold;
	line-height: 24px;
	white-space: nowrap;
}

.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}

.fancybox-title-inside-wrap {
	padding-top: 10px;
}

.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

.popup h3 {
	margin: 0;
	padding: 10px 15px;
	background: #e5e5e5;
}

.popup form {
	margin: 20px 15px;
}

.popup form li {
	margin: 0;
}

.popup form input:not                                                  
	              ([type]                     
	                                           ),.popup form input[type="text"],
	.popup form textarea {
	width: 180px;
}

.longtext .sbOptions, .longtext .sbHolder {
	width: 300px;
}

#tabs {
	margin-top: 1em;
	width: 100%;
	border-bottom: 1px solid #f1f1f1;
}

#tabs li {
	display: block;
	float: left;
}

#tabs li a {
	display: inline-block;
	line-height: 38px;
	width: 90px;
	border: 1px solid #f1f1f1;
	text-align: center;
	border-bottom: none;
	color: #444;
	text-decoration: none;
	cursor: arrow;
}

#tabs li a {
	padding-left: 35px;
	background: url(../images/snap-icon.png) no-repeat 20px 10px,
		url(../images/tab-bg.jpg) repeat-x left top;
}

#tabs li a#trend-tab {
	background: url(../images/trend-icon.png) no-repeat 20px 10px,
		url(../images/tab-bg.jpg) repeat-x left top;
}
/*
#tabs li:last-child a {
	border-left: 0;
	padding-left: 35px;
	background: url(../images/trend-icon.png) no-repeat 20px 10px,
		url(../images/tab-bg.jpg) repeat-x left top;
}

#tabs li:first-child.active a {
	background: url(../images/snap-icon.png) no-repeat 20px 10px,
		url(../images/tab-bg-active.jpg) repeat-x left top;
}

#tabs li:last-child.active a {
	background: url(../images/trend-icon.png) no-repeat 20px 10px,
		url(../images/tab-bg-active.jpg) repeat-x left top;
}
*/
.tab-content {
	padding: 0.5em 0 0 0;
}

.tab-content-left {
	float: left;
	width: 50%;
}

.tab-content-right {
	float: right;
	width: 50%;
}

.tab-content label {
	float: left;
	width: 70px;
}

.tab-content .clearfix {
	margin: 10px 0;
}

.tab-content .sbHolder {
	float: left;
}

.right-select .sbHolder {
	margin-right: 4px;
}

/* Trend Page
--------------------------------------------------------------------------------
==============================================================================*/
.left-side-form {
	margin-left: 20px;
}

.form-start li label {
	float: left;
	width: 70px;
}

.form-start li .sbHolder {
	float: left;
}

.form-start li {
	clear: both;
	margin-bottom: 10px;
}

.filter-slider {
	margin-left: -20px;
}

.filter-slider>h4 {
	cursor: pointer;
}

.filter-slider h3 {
	margin-bottom: 0;
	padding-left: 20px;
	line-height: 44px;
	cursor: pointer;
	border-top: 1px solid #e9e9e92;
	background: #f2f2f2;
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyZjJmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2UzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #f6f6f6 0%, #d8d8d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f6f6),
		color-stop(100%, #          
		                                                      
		                 #d8d8d8));
	background: -webkit-linear-gradient(top, #f6f6f6 0%, #d8d8d8 100%);
	background: -o-linear-gradient(top, #f6f6f6 0%, #d8d8d8 100%);
	background: -ms-linear-gradient(top, #f6f6f6 0%, #d8d8d8 100%);
	background: linear-gradient(to bottom, #f6f6f6 0%, #d8d8d8 100%);
}

.dashboardsCont {
	margin-left: -1.8em
}

.main-filter-slider h3 {
	
}

.filter-slider ul {
	margin: 0 20px;
}

.filter-slider ul .selected { /* color: #d14836; */
	background: #ebebeb;
}

#
scroll .left-side-form li {
	margin: 10px 0px;
}

.filter-slider td {
	width: 50%;
	text-align: center;
	cursor: pointer;
	padding: 4px;
}

.filters-list li button:hover, .filters-list li button:focus,
	.filters-list li.selected button, .filter-slider td.selected,
	.filter-slider td:hover {
	background: #ececec;
	background:
		url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VjZWNlYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkY2RjZGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ececec 0%, #dcdcdc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec),
		color-stop(100%, #dcdcdc));
	background: -webkit-linear-gradient(top, #ececec 0%, #dcdcdc 100%);
	background: -o-linear-gradient(top, #ececec 0%, #dcdcdc 100%);
	background: -ms-linear-gradient(top, #ececec 0%, #dcdcdc 100%);
	background: linear-gradient(to bottom, #ececec 0%, #dcdcdc 100%);
}

.icon-01 {
	padding-left: 20px;
	background: url(../images/icon-01.png) no-repeat left 3px;
}

.icon-02 {
	padding-left: 20px;
	background: url(../images/icon-02.png) no-repeat left 3px;
}

.icon-03 {
	padding-left: 20px;
	background: url(../images/icon-03.png) no-repeat left 3px;
}

.expand, .group-expand {
	display: inline-block;
	float: right;
	width: 10px;
	height: 6px;
	margin: 18px 10px 0 0;
	background: url(../images/expand.png) no-repeat left top;
}

.expand.colapse, .group-expand.colapse {
	background-position: left bottom;
}

.hidden-data {
	text-align: left;
	padding: 10px 0 0 0;
}

/* Scroll Bar */
#scroll {
	width: 220px;
	margin: 20px 0;
}

#scrollbar1 {
	width: 220px;
	margin: 20px 0;
}

#scrollbar1 .viewport {
	width: 200px;
	height: 150px;
	overflow: hidden;
	position: relative;
}

#scrollbar1 .overview {
	list-style: none;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
}

#scrollbar1 .scrollbar {
	position: relative;
	background-position: 0 0;
	float: right;
	width: 15px;
}

#scrollbar1 .track {
	background: #c3c3c3;
	border-radius: 3px;
	height: 100%;
	width: 13px;
	position: relative;
	right: -10px
}

#scrollbar1 .thumb {
	background: #444;
	height: 10px;
	width: 13px;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 3px;
}

#scrollbar1 .disable {
	display: none;
}

.noSelect {
	user-select: none;
	-o-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}

.blue-line {
	padding-left: 10px;
	border-left: 5px solid #4572A7;
}

.green-line {
	padding-left: 10px;
	border-left: 5px solid #23ae2b;
}

.red-line {
	padding-left: 10px;
	border-left: 5px solid #e10728;
}

.intro-dash a.maia-button.maia-button-secondary {
	color: #1363d2 !important;
	font-weight: normal;
}

.intro-dash .expand, .group-expand {
	float: none;
	background-position: left bottom;
	margin: 10px 0 0 10px;
}

.intro-dash .expand.colapse {
	background-position: left top;
}

.intro-dash h2 {
	line-height: 1.59;
}

.close-icon a.maia-button.maia-button-secondary {
	padding: 0px 7px;
	display: inline-block;
	float: left;
	margin-top: -1px;
	margin-right: 10px;
	color: #cb2027 !important;
	font-weight: bold;
	font-size: 16px;
}

.close-icon .red-line, .close-icon .green-line {
	margin-left: 35px;
}

.intro-dash {
	float: left;
	width: 90%;
}

.intro-holder {
	position: relative;
}

.intro-holder h2 {
	cursor: pointer;
}

#main-question .expand-items {
	left: 0px
}

.expand-groups-items, .expand-items {
	border: 1px solid #ccc;
	display: none;
	position: absolute;
	z-index: 2;
	background: #fff;
	left: 35px;
	/* margin-top: -11px; */
}

.expand-groups-items {
	min-width: 400px;
}

.expand-groups-items ul, .expand-items ul {
	list-style: none;
	margin: 0;
	background: #fff;
}

.expand-groups-items ul li, .expand-items ul li {
	padding: 5px 10px;
	border-bottom: 1px solid #f3f3f3;
	margin-bottom: 5px;
}

.expand-groups-items ul li:last-child, .expand-items ul li:last-child {
	border: none;
	margin: 0;
}

.blue-table th {
	border: 1px solid #4572a7;
	background-color: #4572a7;
	color: #fff;
}

.green-table th {
	border: 1px solid #23af2b;
	background-color: #23af2b;
	color: #fff;
}

.red-table th {
	border: 1px solid #e10728;
	background-color: #e10728;
	color: #fff;
}

.right-side  p.small {
	padding: 0;
}

.left-side-form li.first-li {
	margin-left: -20px;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px solid #f3f3f3;
}

.form-start .orange-button {
	margin: 10px 0 0 88px;
}

.new-way h4 {
	float: left;
	width: 40%;
	font-size: 12px;
}

.new-way .sbHolder {
	float: right;
	width: 90px;
	margin-top: 11px;
}

.new-way .sbOptions {
	width: 88px;
	left: -20px;
}

.filter-slider ul.filters-list {
	margin: 0;
}

.filters-list li {
	display: block;
	/*float: left; */
	cursor: pointer;
	text-align: center;
	/*width: 95px;*/
	border: 1px solid #e5e5e5;
	max-height: 40px;
	overflow: hidden;
}

.filters-list li.full {
	width: 192px;
}

.filters-list li button {
	width: 100%;
	border: none;
	background: none;
	font-size: 1em;
	cursor: pointer;
	color: #444;
	padding: 4px;
}

/* SVG */
#container {
	position: relative;
	float: left;
	width: 100%;
}

.highcharts-container {
	width: 100% !important;
	border: 1px solid #e5e5e5;
}

.trendChartContainer {
	border: 1px solid #e5e5e5;
}
/* scrol 2 */
.jspContainer {
	padding-bottom: 10px;
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 16px;
	height: 100%;
	background: red;
}

.jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
}

.jspVerticalBar *, .jspHorizontalBar * {
	margin: 0;
	padding: 0;
}

.jspCap {
	display: none;
}

.jspHorizontalBar .jspCap {
	float: left;
}

.jspTrack {
	background: #c3c3c3;
	border-radius: 3px;
	position: relative;
}

.jspDrag {
	background: #444;
	border-radius: 3px;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspArrow {
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled {
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow {
	height: 16px;
}

.jspHorizontalBar .jspArrow {
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus {
	outline: none;
}

.jspCorner {
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
	margin: 0 -3px 0 0;
}

.scroll-pane {
	width: 100%;
	overflow: auto;
}

.horizontal-only {
	height: auto;
}

.filters-list.expand-list {
	display: none;
}

ul.expand-list li {
	margin-left: 0px
}

ul.expand-list li h4 {
	font-weight: normal;
}

#share-dashboard #scrollbar1 {
	height: 30px;
}

#share-dashboard #scrollbar1 .viewport ul, #share-dashboard #scrollbar1 .viewport
	{
	margin: 0;
}

h4.MS-filter {
	position: relative;
	padding-right: 30px;
}

h4.MS-filter a.expand {
	position: absolute;
	right: 0px;
	top: -8px;
}
/* Snap Page
--------------------------------------------------------------------------------
==============================================================================*/
.right-side.full-width-block {
	margin-left: 0;
	box-shadow: none;
}

.snap-q {
	margin: 0;
}

.snap-q li {
	font-size: 14px;
	list-style: none;
	margin-bottom: 30px;
}

.snap-q li p {
	margin-top: 0;
}

.imgcls1 {
	margin: 20px 0;
	float: right;
}

.setting-clear {
	position: relative;
	float: right;
	width: 10%;
	/*clear: both;*/
}

.highcharts-container {
	float: left;
}

#container1 {
	margin-top: 10px;
	float: left;
	width: 100%;
}

.question-tables {
	float: left;
	width: 100%;
}

#Country-popup form {
	margin: 0 0 20px;
}

#compare-question-button.disable-button {
	background-color: #f9f9f9;
	background-image: -moz-linear-gradient(top, #fafafa, #f9f9f9);
	background-image: -webkit-linear-gradient(top, #fafafa, #f9f9f9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa),
		color-stop(1, #f9f9f9));
	background-image: linear-gradient(top, #fafafa, #f9f9f9);
	border-color: #eee;
	color: #aaa !important;
	cursor: default;
}

.body-hidden {
	overflow: hidden;
}

#kill {
	background: fixed rgba(255, 255, 255, 0.6);
	width: auto;
	height: auto;
	overflow: hidden;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 9999;
}

#kill-cont {
	left: 49%;
	top: 49%;
	opacity: 1;
	overflow: visible;
	position: absolute;
	display: block;
	width: 31px;
	height: 31px;
}

#main-content.main-hide {
	position: relative;
	/* overflow: hidden; */
}

.dashboard .maia-notification {
	height: 140px;
}

.dashboard .dash-block .maia-notification {
	height: auto;
}

.loading {
	background: fixed rgba(255, 255, 255, 0.6);
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999999;
}

#legend-button {
	margin: 10px 0;
}

.dashboard .filter-slider h3 {
	background: #f7f7f7;
	border-top: none;
	cursor: pointer;
	font: 300 1em/1 'Open Sans', sans-serif;
	color: #0056cf;
	margin-top: 0;
	padding-top: 16px;
	padding-left: 35px;
	padding-bottom: 16px;
	margin-left: -23px;
}

.dashboard li.active>.filter-slider h3 {
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.dashboard .filter-slider h3:hover span {
	color: #0056CF;
}

.dashboard .filter-slider h3 span {
	border: none;
	display: inline-block;
	line-height: inherit;
	margin-left: 0;
	padding: 0;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.dashboard .left-nav li.active {
	background: #fff;
}

.dashboard .left-nav li.active>h3 {
	border-bottom: 1px solid #F5F5F5;
}

.dashboard .left-nav li.active .expand-list a {
	font-weight: normal;
	color: #0056cf;
}

.dashboard .left-nav li.active .expand-list a:hover, .dashboard .left-nav li .expand-list a:hover
	{
	color: #000;
}

h3.new-exp {
	cursor: pointer;
}

h3.new-exp:hover {
	color: #0056cf;
}

.dashboard .left-nav li.active>.expand-list a.current {
	color: #000;
}

.dashboard .filter-slider {
	margin-left: 0;
}

.dashboard .expand {
	margin-top: 3px;
}

.dashboard .expand-list {
	margin-left: -23px;
}

.dashboard .expand-list ul {
	margin: 0;
	padding: 0;
	margin-left: 19px;
}

.dashboard .expand-list ul li {
	list-style: none;
	border-bottom: none;
	line-height: 2em;
	width: 100%;
	margin-right: 0;
	padding-left: 30px;
}

/* grouping */
.intro-holder h2:after {
	clear: both;
}

.question-header, .intro-holder a.question-list-expand, .group-data {
	display: inline-block;
	margin-right: 5px;
}

.question-header {
	display: inline;
}

.group-data {
	display: inline-block;
	margin-left: 10px;
}

.group-date-info {
	line-height: 1.29;
	font-size: 12px;
	font-weight: normal;
}

/**** LANDING ****/
#maia-nav-x {
	min-height: 44px;
}

.landing-slide {
	position: relative;
	padding: 40px 0;
	width: 978px;
	margin: 0 auto;
	min-height: 300px;
}

.landing-border {
	background: #f6f6f6;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.landing-slide ul {
	margin: 0 auto;
}

.landing-slide ul li {
	display: block;
	float: left;
	height: 300px;
}

.slider-bg {
	position: relative;
	width: 864px;
	height: 250px;
	padding: 40px;
	background: #fff;
	border: 1px solid #ccc;
	margin: 0 auto;
}

.landing-slide ul li img {
	border: 1px solid #ccc;
}

.bx-controls-direction a {
	position: absolute;
	display: block;
	width: 27px;
	height: 57px;
	top: 47%;
	text-indent: -99999px;
	background: url(../images/slider-arrows.png) no-repeat left top;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	outline: none;
}

#users-with-access li {
	list-style: none;
}

#users-with-access {
	margin-left: 0;
}

a.bx-prev {
	left: -27px;
	background-position: left top;
}

a.bx-prev:hover {
	background-position: left bottom;
}

a.bx-next {
	right: -27px;
	background-position: right top;
}

a.bx-next:hover {
	background-position: right bottom;
}

.landing-blocks {
	width: 1021px;
	margin: 2em auto 5em auto;
}

.landing-blocks li p {
	text-align: justify;
}

.landing-blocks li {
	display: block;
	float: left;
	width: 29.3%;
	margin: 1% 2%;
	list-style: none;
}

.landing-blocks li img {
	width: 100%;
	height: 100%;
	border: 1px solid #ccc;
}

.question-title {
	display: inline;
}

.brand-input {
	display: block;
	float: left;
	margin-right: 5px;
	margin-top: 4px;
}

.dash-block-wrap a:hover {
	opacity: 0.5;
}

.widget-filters {
	margin-left: 10px;
}

ul.home-slider {
	width: 900px;
	height: 300px;
	overflow: hidden;
}

.new-nav-tog {
	display: none;
}

#add-new-widget .sbOptions, #Country-popup .sbOptions {
	max-height: 85px !important;
}

.fancybox-inner, #add-new-widget, #Country-popup {
	overflow: hidden !important;
}

label.error, p.error {
	background:
		url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMhJREFUeNpi/P//PwMlgOWejxUuOU0gPgXEIBvMgfg6NkVMeAzvAWIeIOYF4m5cinAZEADEXkh8b6gY0Qb0EimG1YASIFaCshmhmAEqVkrIAFEgrscTLnVALILPgAnQgMMFQHITcRkAirYoLC4SRROLgqqFpAMkiRVYbLTG4RKQWn1kA5KAWA+Lwhk4DNCD6pkH80I7FkWvgFgXil9hkW+HuWA6EIvhsAlfRgHpmQ4yIAaPgqtIbGwghoVAZhMjlBsZKc3OAAEGAEQ+HjpPhIU0AAAAAElFTkSuQmCC")
		no-repeat scroll left top transparent;
	color: #DD4B39;
	padding: 0 0 0 20px;
	font-weight: normal;
}

#bar-to-stacked, #stacked-to-bar {
	margin: 10px 10px 0 0;
}

/*****/
.no-data {
	height: 170px;
	padding: 100px 0px 0px 0px;
	text-align: center;
	border: 1px solid #e5e5e5;
}

.no-data .maia-notification {
	width: 180px;
	margin: 0 auto
}

.headerSortDown {
	background: url(../images/arrow-white-down.png) right center no-repeat;
}

.headerSortUp {
	background: url(../images/arrow-white-up.png) right center no-repeat;
}

.tiny-col {
	width: 10%;
}
/*  khalil ---------------*/
.video-container {
	width: 960px;
	margin: 0 auto;
}

.youtube-shadow {
	margin: 0 auto;
	width: 640px;
	background: url(../images/video-shadow.jpg) 1px 377px no-repeat;
	height: 435px;
}

#maia-signature {
	position: relative;
}

#trend-it-button {
	margin: 20px 50px 5px
}

#trend-it-button.disable-button {
	background-color: #ccc;
	background-image: -moz-linear-gradient(top, #e5e5e5, #e9e9e9);
	background-image: -webkit-linear-gradient(top, #e5e5e5, #e9e9e9);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e5e5e5),
		color-stop(1, #e9e9e9));
	background-image: linear-gradient(top, #e5e5e5, #e9e9e9);
	border-color: #ccc;
	color: #AAA !important;
	cursor: default;
}

.bars {
	width: 16px;
	height: 16px;
	background: url(../images/chart-type.png) no-repeat top left;
}

.stacked {
	width: 16px;
	height: 16px;
	background: url(../images/chart-type.png) no-repeat -34px top;
}

#bar-to-stacked {
	float: right
}

#stacked-to-bar {
	float: right
}

ul#brands-list li {
	margin: 0 0 5px 0px
}

.tab-content-left .maia-button.maia-button-secondary[disabled] {
	background: url(../images/tab-bg.jpg) repeat-x left top;
	color: #444 !important
}

.table-question-name {
	color: #666;
	margin-top: 5px;
}

.divisions button.selected {
	background: #EBEBEB;
}

.tab-content-left .maia-button.maia-button-secondary[disabled] {
	background: url(../images/tab-bg.jpg) repeat-x left top;
	color: #444 !important
}

.categories-container {
	width: 975px;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

.categories-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.categories-container ul li {
	text-align: center;
}

.category {
	height: 136px;
	margin: 0 auto;
	/* 	background: #f5f5f5; */
	position: relative;
	margin-top: 10px;
}

.left-arrow, .right-arrow {
	background: url(../media/sprite.png) no-repeat 0 0;
	width: 73px;
	height: 136px;
	float: left;
	position: absolute;
	left: -73px;
	top: -50px;
}

.left-arrow-green, .right-arrow-green {
	background: url(../media/green-l.png) no-repeat 0 0;
	width: 78px;
	height: 141px;
	float: left;
	position: absolute;
	left: -82px;
	top: 0px;
	overflow: visible;
}

.right-arrow-green {
	background: url(../media/green-r.png) no-repeat 0 0;
	right: -81px;
	width: 82px;
	left: auto;
}

.left-arrow-red, .right-arrow-red {
	background: url(../media/red-l.png) no-repeat 0 0;
	width: 78px;
	height: 141px;
	float: left;
	position: absolute;
	left: -82px;
	top: 0px;
	overflow: visible;
}

.right-arrow-red {
	background: url(../media/red-r.png) no-repeat 0 0;
	right: -81px;
	width: 82px;
	left: auto;
	z-index: 15;
}

.left-arrow-blue, .right-arrow-blue {
	background: url(../media/blue-l.png) no-repeat 0 0;
	width: 78px;
	height: 141px;
	float: left;
	position: absolute;
	left: -82px;
	top: 0px;
	overflow: visible;
}

.right-arrow-blue {
	background: url(../media/blue-r.png) no-repeat 0 0;
	right: -81px;
	width: 82px;
	left: auto;
	z-index: 15;
}

.left-arrow-yellow, .right-arrow-yellow {
	background: url(../media/yellow-l.png) no-repeat 0 0;
	width: 78px;
	height: 141px;
	float: left;
	position: absolute;
	left: -82px;
	top: 0px;
	overflow: visible;
}

.right-arrow-yellow {
	background: url(../media/yellow-r.png) no-repeat 0 0;
	right: -81px;
	width: 82px;
	left: auto;
	z-index: 15;
}

.right-arrow {
	background: url(../media/sprite.png) no-repeat -81px -1px;
	right: -72px;
	left: auto;
}

.category-extend { /* background: #f5f5f5; #f3f3f2; */
	height: 92px;
	margin: 0 auto;
	border-top: 1px solid #FFF;
}

.category-1, .category-extend-1 { /* 	width: 830px; */
	
}

.green-strip, .red-strip, .yellow-strip, .blue-strip, .grey-strip,
	.second-blue-strip {
	width: 978px;
	font-weight: bold;
	height: 45px;
	background: url(../media/1.png) 0 0 no-repeat;
	position: absolute;
	top: 0;
	left: -73px;
	z-index: 2;
	text-align: center;
	color: #FFF;
	line-height: 38px;
	z-index: 25;
}

.blue-strip {
	background: url(../media/1.png) 0 0 no-repeat;
}

.red-strip {
	width: 830px;
	background: url(../media/2.png) 0 0 no-repeat;
}

.yellow-strip {
	width: 677px;
	background: url(../media/3.png) 0 0 no-repeat;
}

.second-blue-strip {
	width: 522px;
	background: url(../media/4.png) 0 0 no-repeat;
}

.green-strip {
	width: 370px;
	background: url(../media/5.png) 0 0 no-repeat;
}

.last-strip {
	width: 215px;
	height: 200px;
	background: url(../media/6.png) 0 0 no-repeat;
	position: relative;
	top: 0;
	margin: 0 auto;
	z-index: 2;
	text-align: center;
	color: #FFF;
	line-height: 45px;
	margin-top: 10px;
}

.question {
	float: left;
	/* 	 	width: 25%;  */
	font-size: 14px;
	text-align: center;
	background-color: #f5f5f5;
	color: #0f0f0f;
	/* 	float: left; */
	font-size: 14px;
	color: #0f0f0f;
	padding: 50px 10px 0 10px;
	border-right: 1px solid #FFF;
	border-left: 1px solid #dedede;
	/* 	width: 185px; */
	height: 86px;
	text-align: center;
	font-size: 13px;
	position: relative;
	top: -50px;
}

.question a {
	color: #444;
	position: relative;
	z-index: 20;
}

.question a:hover {
	text-decoration: underline;
}

.category-extend .question {
	padding-top: 10px;
	height: 82px;
}

.category-extend .question-popup {
	padding-top: 10px;
	height: 87px;
}

.category-extend .question-popup:hover {
	padding-top: 10px;
	height: 87px !important;
}

.question:first-child {
	border-left: 0;
}

.question-popup {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* 	-webkit-transition: all .25s; */
	z-index: 10;
}

.l-hover, .r-hover { /* 	-webkit-transition: all .25s; */
	
}

.unstyled li {
	list-style: none;
}

.compare-countries {
	margin: 0px 20px;
}

.options-item label {
	margin: 0px;
}

.drive-notification {
	margin-left: -50px;
	font-size: 11px;
}

#popup-content img.loader-image {
	width: 16px;
	height: 16px;
	z-index: 4001;
	position: absolute;
	left: 100px;
	top: 197px;
}

.dashboard .filter-slider h3 span {
	width: 175px;
}

div.error {
	margin: 7% auto 0;
	max-width: 390px;
	min-height: 180px;
	padding: 30px 0 15px;
	background: url(//www.google.com/images/errors/robot.png) 100% 5px
		no-repeat;
	padding-right: 205px;
}

div.error ins {
	color: #777;
	text-decoration: none;
}

#order-widgets ul li.ui-wiget-item-state-default {
	background: #f7f7f7;
	padding: 5px 10px;
	margin: 10px 0;
	border: 2px solid #f7f7f7;
	cursor: move;
}

#order-widgets ul li.ui-sortable-placeholder {
	background: #fff;
	visibility: visible !important;
	border: 2px dashed #ccc;
}

li.user-go a {
	padding: 5px 22px !important;
}

.popup-notification {
	margin-left: -34px;
	margin-top: -17px;
}

#widgets-scrollbar { /* 	width: 220px; */
	/* 	margin: 20px 0; */
	overflow-y: scroll;
}

#widgets-scrollbar ul {
	padding-right: 10px;
}

/* #widgets-scrollbar .viewport { */
/* 	width: 200px; */
/* 	height: 150px; */
/* 	overflow: hidden; */
/* 	position: relative; */
/* } */

/* #widgets-scrollbar .overview { */
/* 	list-style: none; */
/* 	position: absolute; */
/* 	left: 0; */
/* 	top: 0; */
/* 	padding: 0; */
/* 	margin: 0; */
/* } */

/* #widgets-scrollbar .scrollbar { */
/* 	position: relative; */
/* 	background-position: 0 0; */
/* 	float: right; */
/* 	width: 15px; */
/* } */

/* #widgets-scrollbar .track { */
/* 	background: #c3c3c3; */
/* 	border-radius: 3px; */
/* 	height: 100%; */
/* 	width: 13px; */
/* 	position: relative; */
/* 	right: -10px */
/* } */

/* #widgets-scrollbar .thumb { */
/* 	background: #444; */
/* 	height: 10px; */
/* 	width: 13px; */
/* 	cursor: pointer; */
/* 	overflow: hidden; */
/* 	position: absolute; */
/* 	top: 0; */
/* 	right: 0; */
/* 	border-radius: 3px; */
/* } */

/* #widgets-scrollbar .disable { */
/* 	display: none; */
/* } */
body ::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

body ::-webkit-scrollbar-button:start:decrement, #doc
::-webkit-scrollbar-button:end:increment {
	display: block;
	height: 0;
	background-c olor: transparent;
}

body
::-webkit-scrollbar-track-piece {
	background-color: #FAFAFA;
	-webkit-border-radi us: 0;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radiu s: 8px;
}

body
::-webkit-scrollbar-thumb:vertical {
	height: 50px;
	background-color: #999;
	-webkit -border-radius: 8px;
}

body
::-webkit-scrollbar-thumb:horizontal {
	width: 50px;
	background-color: #999;
	-webki t-border-radius: 8px;
}

#title, #description, #send {
	display: none;
}

.highcharts-tooltip>span {
	height: 175px;
	width: 250px;
}

#edit {
	display: block;
}

#title, #description {
	width: 200px;
}

#description {
	height: 40px;
}

#title, #description, #send {
	display: none;
}