<%@ tag language="java" pageEncoding="UTF-8"%>

<%@ attribute name="title" description="" required="true"%>

<%-- <jsp:attribute name="template"></jsp:attribute> --%>
<html>
<body>
The title is ${ title}

</body>
<%--  <jsp:doBody/> --%>
</html>